[2016-12-08 16:28] mcnanci opened #18 "Test Issue - can be updated to be a real issue"
test

[2016-12-12 03:13] v1k0d3n opened #20 "Kolla-Build Containers via Jenkins workflow as a Kubernetes Pod"
Create a container that can then be used in a Kubernetes/Jenkins workflow. The goal should be:

* Use the existing Jenkins Helm chart to deploy a complete Jenkins system that can be used for building out Kolla containers.
* Add entrypoint logic (again, using Kolla-build --include-footer flags).
* Should be developer initiated into the CI pipeline.
* Make it useable for anyone (create sensible ENV'

[2016-12-12 03:27] v1k0d3n opened #21 "Token generation process for AIC-Helm"
We may be able to handle secretes like this in the near future:  https://github.com/andrewstuart/helm/blob/5d58b7792c4b0b56ec8eee49cfcc79980e9b0ed3/docs/chart_template_guide/accessing_files.md#secrets

[2016-12-12 03:30] v1k0d3n opened #22 "Developer workflow using Kubernetes/Docker and VSC"
@andrecolin is looking into this PoC requirement.

[2016-12-12 03:48] v1k0d3n opened #23 "feat: MaaS set up to persistent volumes and k8s jobs"
@larryrensing working this issue.

[2016-12-12 03:50] v1k0d3n opened #24 "PoC snap integration with kubernetes"
@andrecolin working this issue.

[2016-12-12 03:52] v1k0d3n opened #25 "PoC: Legacy KVM under Kubernetes"
@alanmeadows working this issue.

[2016-12-12 03:57] v1k0d3n opened #26 "PoC: Prometheus Integration in Kuberetes"

[2016-12-12 03:58] v1k0d3n opened #27 "PoC: Legacy KVM with Stateful Storage"

[2016-12-12 03:59] v1k0d3n opened #28 "docs: Document Contributor Guidelines and Objectives"

[2016-12-12 04:02] v1k0d3n opened #29 "create cinder helm charts"
@DTadrzak @PiotrProkop we started to document things a little better for outside collaborators (others have expressed interest too). there's now a project under this repo that will help keep things sane.

[2016-12-12 04:19] v1k0d3n opened #30 "feat: kubernetes chaos monkey chart"
https://github.com/asobti/kube-monkey

[2016-12-12 04:30] v1k0d3n opened #31 "migrating helm charts to kubernetes/charts"
i would like to see these charts end up in kubernetes/helm upstream. in order to make this happen they need to incubate, and i would like to get eyes on them. we should talk about the low hanging fruit, and critical items (Ceph, MaaS), and work towards getting them incubated for easier consumption.

[2016-12-12 04:33] v1k0d3n opened #32 "security: look into restricting access to the kubernetes API (only where needed)"
i would like to look at policies that could restrict access from all services having direct access to the API (wherever possible/within reason). perhaps a PoC with something like https://github.com/aporeto-inc/trireme could be used, or possibly calico/romana?

[2016-12-12 14:22] v1k0d3n opened #34 "add variables to halcyon-vagrant-kubernetes for user-defined disk sizes"
@Ciello89 is working this issue.

[2016-12-12 14:23] v1k0d3n commented on #34
hate to link issues like this. doing this only to keep our kanban board clean on the aic-helm side.

https://github.com/att-comdev/halcyon-vagrant-kubernetes/issues/27

[2016-12-12 15:09] v1k0d3n opened #35 "MaaS requires a database restart during upgrades (i.e. v2.0.1 to 2.0.2)"
we need to do a db 'restart/db sync' in order to update maas tables when going from one version to another. it would be nice to automate this process going forward.

[2016-12-12 15:11] v1k0d3n commented on #35
container repo located at: https://github.com/att-comdev/dockerfiles/tree/master/maas

[2016-12-12 16:47] v1k0d3n commented on #20
good progress using dind container for kolla-builds. https://github.com/att-comdev/dockerfiles/tree/master/kolla-builder. next step is to determine right way to issue kolla-build to container, and yet make it consumable for anyone else using aic-helm. since this is meant to be deployed as a kubernetes pod manifest, i will create this and the helm chart that will provision this Jenkins CI component

[2016-12-12 17:08] v1k0d3n opened #36 "feat: Drain a Kubernetes node, and upgrade foundational elements."
PoC to demonstration draining a Kubernetes node, upgrade foundational elements (i.e. Docker, host kernel, etc), and bring back into the cluster. This is to identify a useful, and documented path for users as part of our PoC. This ends up going into Documentation after exploration.

[2016-12-12 17:11] v1k0d3n opened #37 "docs: Document PoC Usecases for External Consumers."
We want to document the use of Registries, components, trends, Jenkins pipelines, etc for general user consumption. A good example of this is Openstack Ansible project.

[2016-12-13 00:47] alanmeadows commented on #27
This was created outside of aic-helm (for now) until we need to pull in support for it for something (and make it a bit more generic -- the edges are rough): https://github.com/att-comdev/dockerfiles/tree/master/kvm-manager

You may find this useful for something @DTadrzak @PiotrProkop @intlabs

[2016-12-13 00:47] #27 closed

[2016-12-13 00:52] alanmeadows commented on #25
See https://github.com/att-comdev/aic-helm/issues/27

[2016-12-13 00:52] #25 closed

[2016-12-13 00:54] alanmeadows opened #40 "Refactor mariadb to match keystone template layout"
Convert the template layout to match the new keystone template layout, which is more readable and supports testing of injected scripts as they are not wrapped in nested YAML.

[2016-12-13 00:55] alanmeadows opened #41 "Refactor glance to match keystone template layout"
Convert the template layout to match the new keystone template layout, which is more readable and supports testing of injected scripts as they are not wrapped in nested YAML.

[2016-12-13 00:58] alanmeadows opened #42 "Create a globals or master.yaml override harness for all independent charts."
The goal here is to allow you to run:

"./tool.py master.yaml"

Where master.yaml contains:

ceph:
...
keystone:
...

This will generate:

/tmp/xk92012/ceph.yaml
/tmp/xk92012/keystone.yaml
/tmp/xk92012/horizon.yaml

You can then install charts:

helm install --values=/tmp/xk92012/horizon.yaml ./horizon-0.1.0.tgz

This is a requirement because a raw native master.yaml does not support an upper leve

[2016-12-13 04:04] alanmeadows commented on #21
This worked fine but presented problems with nested templates.  In other words, if we try to do this in common it will fail as it does not see .Files from the context of common, but rather the including chart.  This works fine if you do not leverage the portion of the chart which relies on .Files within any other chart.

[2016-12-13 21:38] mcnanci opened #43 "Release 0.1.0 - Jan 10th, 2017"
Foundational Elements for Openstack (charts):
- [x] [MaaS (Bare Metal Provisioning)](https://github.com/att-comdev/aic-helm/tree/master/maas)
- - [x] Ensure ceph storage is persistent [#15](https://github.com/att-comdev/aic-helm/pull/15)
- - [x] Persistant Volumes for MaaS [#23](https://github.com/att-comdev/aic-helm/issues/23)
- [x] [Ceph (Persistent Storage)](https://github.com/att-comdev/aic-he

[2016-12-14 05:50] v1k0d3n opened #44 "Kolla-Build: Helm Chart"
Create the helm chart for the koala-build container.

[2016-12-14 17:30] mcnanci opened #47 "cLCP Demo Script"

[2016-12-14 17:30] mcnanci opened #48 "Primary OpenStack services (keystone, glance, nova, neutron, heat, cinder, horizon)"

[2016-12-15 17:17] v1k0d3n commented on #43
@larryrensing can you create an issue and check item in this list for the MaaS work you are doing? we're trying to track this as a critical item for the PoC.

[2016-12-15 17:20] v1k0d3n commented on #43
@aric49 for the workaround bugfix for MaaS (what you've been working with alan about; the route issue), can you report this issue back to the MaaS community?

[2016-12-15 17:25] v1k0d3n opened #51 "MariaDB: convert PetSets to StatefulSets in Helm Chart"
@alanmeadows is working to standardize on StatefulSets, and MariaDB is impacted with this work.

[2016-12-16 15:00] alanmeadows commented on #51
This is part of https://github.com/att-comdev/aic-helm/pull/49

[2016-12-16 15:01] alanmeadows commented on #42
This is part of https://github.com/att-comdev/aic-helm/pull/49

[2016-12-16 15:01] alanmeadows commented on #40
This is part of https://github.com/att-comdev/aic-helm/pull/49

[2016-12-16 17:19] v1k0d3n commented on #20
Linking [dockerfiles/issues/46](https://github.com/att-comdev/dockerfiles/issues/46).

[2016-12-17 14:54] v1k0d3n opened #54 "development: determine long term path"
@alanmeadows we should determine a good development path for 2017. minikube supports all of the versions that we need now, however the issue will be with persistent volumes.

[code]

Some interesting considerations:
 - [Updating Kubernetes for Minikube](https://github.com/kubernetes/minikube/blob/v0.14.0/UPDATE_KUBERNETES.md)
 - [Persistant Volumes in Minikube](https://github.com/kubernetes/miniku

[2016-12-17 18:26] v1k0d3n opened #55 "chart repository: add a public-facing chart repository for project"
https://github.com/kubernetes/helm/blob/master/docs/chart_repository.md#share-your-charts-with-others

this would remove the need to clone and install things locally.

[2016-12-18 05:52] alanmeadows commented on #20
Using this issue to start a dialog on the design vision for CI/CD for @v1k0d3n and @nadeemanwar.

First, I think of kolla-builder as a reusable artifact for jenkins kolla builds.  What this means is that its configuration is jenkins driven.  What this means we'll articulate in a moment.

Then there is the trigger perspective: how is this container called and what is driving that? There are two use

[2016-12-18 19:36] v1k0d3n commented on #20
some additional references: https://github.com/kubernetes/helm/issues/1564

[2016-12-20 00:03] alanmeadows opened #58 "Create horizon chart"

[2016-12-20 00:04] alanmeadows commented on #58
Resolved with https://github.com/att-comdev/aic-helm/pull/57

[2016-12-20 00:04] #58 closed

[2016-12-20 00:05] alanmeadows opened #59 "Convert mariadb to a statefulset"

[2016-12-20 00:06] alanmeadows commented on #59
Resolved by https://github.com/att-comdev/aic-helm/pull/49 -- this pull request includes both the values.py paradigm and mariadb refactoring as well as the statefulset change

[2016-12-20 00:07] #40 closed

[2016-12-20 00:07] #59 closed

[2016-12-20 00:08] alanmeadows opened #60 "Create neutron helm chart"
Create a neutron helm chart, leveraging the standard reference deployment (non-contrail).

[2016-12-20 00:08] alanmeadows opened #61 "Convert ceph monitors to a statefulset"
The ceph monitors require reliable IP addressing, they should be converted to a statefulset.

[2016-12-20 00:09] #42 closed

[2016-12-20 17:31] alanmeadows commented on #61
@intlabs Pete, since you may have been playing with this chart, we want to change the monitors over to a statefulset, and also, the ceph osd containers do not restart properly, on restart they crash with an auth error.  Have you hit or overcome this? I know you are working with Sebestian on an upstream chart as well but likely this is forthcoming some time in the future?

[2016-12-21 17:53] gerrive commented on #48
Would swift not be added here as well.

[2016-12-21 23:02] janwillies commented on #27
For something more sophisticated we might have a look at cri-o with Hyper RunV or Intel ClearContainers:
- https://github.com/01org/cc-oci-runtime/pull/534
- https://github.com/kubernetes-incubator/cri-o/issues/168

[2016-12-22 08:43] intlabs commented on #27
@alanmeadows Cheers! I was actually looking at that the other day as a potential candidate for transferring some legacy applications.

@janwillies, last time I looked the Clear Container runtime was optimised in such a way that meant that it would be incapable of acting as a 'true' operating system agnostic hypervisor and actually spawned a small systemd based instance that a container image would

[2016-12-22 08:48] intlabs commented on #61
@alanmeadows, as we discussed yesterday I've moved the monitors over to statefulset in the work I've been doing to address this exact issue. My initial tests have not shown the same results as you from simply killing the container running the OSD, however, I'll test properly today and report my findings back.

[2016-12-22 10:19] jjlakis commented on #27
There's couple of issues right now on running hypervisor-based runtimes (such as cc-oci-runtime [`cor`], `runV`) via `cri-o`. As far as I know, after @sameo's work , you are able to run sandboxes and containers in `cor` hypervisors using `cri-o` (not sure about testing with kubernetes), so it can be possibly used.
Notice, that there's a more/less stable, CRI-compliant solution for running hypervis

[2016-12-23 17:31] v1k0d3n opened #64 "helm: add resource quotas for each of the charts and default values"
each of the openstack-helm charts need to have configurable resource quotas: i.e. `chart/templates//deployment.yaml` & `chart/values.yaml`

for more information: http://kubernetes.io/docs/admin/resourcequota/

[2016-12-24 07:41] v1k0d3n commented on #51
closing issue (cleaning up backlog).

[2016-12-24 07:41] #51 closed

[2016-12-24 07:42] v1k0d3n commented on #18
closing issue.

[2016-12-24 07:42] #18 closed

[2016-12-27 10:43] ss7pro opened #69 "feat: Init containers should be moved to a template in common/ utils"
This would be very helpful when k8s would move init containers out of annotations.

[2016-12-30 17:11] v1k0d3n commented on #37
* completed developer documentation using minikube: #72
* completed installation guide for bare-metal deployments: #66
more to come soon

[2017-01-01 14:41] intlabs commented on #64
For development purposes, these should be disabled using the same method that the MariaDB chart uses: https://github.com/att-comdev/openstack-helm/blob/master/mariadb/values.yaml#L10-L21.

[2017-01-03 17:55] intlabs opened #81 "Helm: Standardization of values key:pairs (and nesting)"
Once the initial 0.1.0 release is cut I think it would be good idea to formally define a structure for use within `values.yaml`, this will make the orchestration of multiple services much easier to manage and provide a source of truth for both new contributors and services to use as a reference source.

[2017-01-03 18:16] v1k0d3n commented on #81
@mcnanci let's add this to a 0.2.0 release, when the schedule is ready. this is an important one, and we've been touching around it anyway.

[2017-01-04 17:48] alanmeadows opened #88 "Investigate replacement for stackanetes-entrypoint"
The stackanetes-entrypoint image consistently leveraged runs into issues with DAEMONSET dependencies, and has trouble with config file dependencies.  These should be documented in this issue subsequently but I do not have readily available access to tracebacks at the moment.

We either need to:

1) Investigate whether since its creation there is a now "standard" init container for dependency check

[2017-01-04 17:50] alanmeadows opened #89 "Ensure init-containers are consistently used throughout every chart for dependency checks"
We need to ensure that every chart consistently leverages the init-container approach.

An example of where we are doing it correctly:

https://github.com/att-comdev/openstack-helm/blob/master/keystone/templates/deployment.yaml#L11-L40

An example of something that needs conversion:

https://github.com/att-comdev/openstack-helm/blob/master/neutron/templates/deployment-server.yaml#L14-L34

[2017-01-04 19:59] larryrensing commented on #23
https://github.com/att-comdev/openstack-helm/pull/87

[2017-01-04 20:58] alanmeadows opened #90 "Ensure rolling upgrade options are present and overriddable in every chart manifest"
We should set sane values for rolling dates in each chart (where relevant), ensuring that values such as maxSurge, and others are controllable by the operator.

[2017-01-05 01:01] alanmeadows commented on #89
Also relates to https://github.com/att-comdev/openstack-helm/issues/69

[2017-01-05 01:02] alanmeadows commented on #61
Resolved with https://github.com/att-comdev/openstack-helm/pull/83

[2017-01-05 01:02] #61 closed

[2017-01-05 01:02] alanmeadows commented on #60
Resolved with https://github.com/att-comdev/openstack-helm/pull/84

[2017-01-05 01:02] #60 closed

[2017-01-05 18:57] alanmeadows commented on #89
As part of this effort, we also need to remove unnecessary environment variables, e.g. in https://github.com/att-comdev/openstack-helm/pull/84/files/4d1b5320f7864462657fe93df498b3e3c4db6bca#diff-54d43c699714abd5ec5ca3feb92891ae

[2017-01-05 19:12] Ciello89 commented on #89
@alanmeadows if you're not currently working on this, I can take it over as part of the refactoring I'm doing since yesterday on the initial chart for neutron.

[2017-01-05 19:30] alanmeadows commented on #89
@Ciello89 It's all yours, this will be a great consistency/cleanup win.

[2017-01-05 19:55] alanmeadows commented on #88
@DTadrzak @PiotrProkop

Currently, when trying to use the daemonset dependency, I get this:

[code]

Secondly, the config dependency is exactly what I'm looking for to template configmaps with runtime data.  Kubernetes has already made it clear they do not want to support this natively, and recommend a templa-tizer init container or sidecar container.  This could serve that purpose well however, I

[2017-01-06 04:36] alanmeadows commented on #88
Note that I just realized buried in that trace is an error about the POD_NAME not being specified. I will re-run tomorrow with that properly specified in the environment because in my real world scenario I believe that was specified.  The nil daemonset pointer error was the same however.

Specifically the goal here is for the new setup with neutron where there are several daemonsets that need to b

[2017-01-08 21:23] v1k0d3n commented on #20
Container images are building successfully in a Jenkins pipeline. I will upload current Jenkins config (scrubbed), to a repository for community use soon. All checks, builds, and post-run cleanup tasks are working.

[2017-01-09 03:19] intlabs commented on #32
This has been a long ongoing issue with Kubernetes, though I think that enabling ABAC in the cluster would be a big step in the right direction:
 * https://github.com/kubernetes/kubernetes/issues/16779
 * https://github.com/kubernetes/kubernetes/pull/17445

We should also review the security of the Kubernetes Entrypoint container - and possibly look toward updating this with a server - client mode

[2017-01-09 03:32] intlabs opened #95 "feat/docs: Default values for development do not work on Atomic Linux"
Many mount points including `/` are read-only on RPM-OSTREE Linux distros like Atomic, as a result, the default development values do not work: as there is no `/data` directory.

We should either update the documentation to tell users how to change this value, or update it to one that is acceptable for both minikube and Atomic Linux e.g: `/var/lib/localkube`.

* https://github.com/att-comdev/opens

[2017-01-09 03:44] v1k0d3n opened #96 "Suggestion to rename bootstrap chart"
@alanmeadows i'm a bit torn on this idea, because it will require some work, but I think during the 0.2.0 release we should rename the `bootstrap` chart to something that is a bit more clearer for new users (even thought it's lightly documented). so we can either make the documentation more clear, rename, or both. thoughts?

[2017-01-09 08:03] DTadrzak commented on #36
Guys when do we plan to start working on this? Maybe we should start a google docs with ideas how to solve that?

[2017-01-09 08:28] DTadrzak commented on #88
If you have a problem with POD_NAME you need to pass following item as a env:
[code]
According to extensions, @PiotrProkop are we able to implement those functionalities?

[2017-01-09 12:12] DTadrzak commented on #81
Do we want to use global variables somehow?

[2017-01-09 12:34] DTadrzak commented on #64
I agree with @intlabs

[2017-01-09 12:38] DTadrzak commented on #36
According to upgrades, first of all we need to get rid of ds. Right now there is impossible to upgrade ds.

[2017-01-09 12:49] DTadrzak commented on #88
In future we can use AppController. Mirantis is working on integration with HELM.
https://asciinema.org/a/0pzyc1tuyk9ohabohnzenvpbe
https://github.com/kubernetes/helm/pull/1756

[2017-01-09 14:43] PiotrProkop commented on #88
Daemonset dependency not working in init-container is just a bug which has to be resolved. I will create an issue on github and address it. When it comes to templating, we should prepare a list of missing features and resolve them one by one. If you could create issues with missing features I would appreciate.

[2017-01-09 17:43] larryrensing commented on #96
i agree, if it's only being used for ceph pvc support it should be renamed to something that reflects the intent of the chart

[2017-01-10 14:24] v1k0d3n commented on #32
also, i would like our internal security group look at Kubernetes `NetworkPolicy` and calico/canal Advanced `NetworkPolicy`.

A couple areas of interest here:
All charts/manifests should include some form of `NetworkPolicy` (not all addressed today): http://kubernetes.io/docs/user-guide/networkpolicies/

[2017-01-10 15:57] alanmeadows opened #99 "Ensure that critical services have pod disruption budgets set"
http://kubernetes.io/docs/admin/disruptions/

This ensures that operators can safely drain nodes without having to understand all the complexity underneath.

Services that would require this and likely require minAvailable: 2 would be:

ceph monitors (2 for quorum)
ceph osds (would think 2 but could be 1 since our default pool maintains 3 copies) - this is a simplification of more advanced configu

[2017-01-10 17:33] alanmeadows opened #100 "feat: Extend rabbitmq chart with autocluster to support multiple rabbitmq instances"
See https://github.com/aweber/rabbitmq-autocluster

We should investigate leveraging the DNS backend, since this should be supported natively with a kubernetes service, as opposed to using etcd.

For a working example, see https://github.com/openstack/fuel-ccp-rabbitmq - however this example uses etcd and would prefer to validate the DNS approach works.

[2017-01-10 19:45] alanmeadows opened #101 "Jobs need consistent nodeSelectors to ensure they only run on the control plane"
Today, in some charts, jobs may land on tenant compute infrastructure or other unintended kubernetes infrastructure.  Node placement needs to be consistent for all resources including jobs.

An example job lacking nodeSelector labels below:

https://github.com/att-comdev/openstack-helm/blob/master/neutron/templates/job-db-sync.yaml

[2017-01-11 04:46] alanmeadows commented on #90
This has been merged: https://github.com/att-comdev/openstack-helm/pull/97

[2017-01-11 04:46] #90 closed

[2017-01-11 04:48] alanmeadows commented on #48
This has been completed.

[2017-01-11 04:48] #48 closed

[2017-01-11 07:31] DTadrzak commented on #100
One guy from Intel is working to improve rabbitmq chart.

[2017-01-11 15:52] alanmeadows commented on #100
Great news @DTadrzak.  Once we tackle rabbit and memcached, the resiliency will be significantly improved.

[2017-01-11 17:49] v1k0d3n commented on #20
for 0.1.0 release, we're going to break this work into sub-tasks. the first, which this issue will cover will be a jenkins, community-provided pipeline for building containers. this will be uploaded in a [separate repo](https://github.com/att-comdev/aic-ci) potentially later today.

[2017-01-12 23:05] alanmeadows commented on #101
Nice work @DTadrzak!

[2017-01-12 23:05] #101 closed

[2017-01-13 00:14] intlabs commented on #100
@SamYaple may also have some good insight on this.

[2017-01-13 01:38] SamYaple commented on #100
I use rabbitmq-clusterer. It works well. autoclusterer is great if you have consul/etcd or something that it supports already setup. clusterer doesn't have any external deps, but requirements better config management from a deployment tool.

Just for more info, rabbitmq 3.7.0 has most of the features from both of these tools baked in.

[2017-01-13 12:47] DTadrzak commented on #100
AFAIK @ss7pro's solution is based on etcd.

[2017-01-13 13:02] DTadrzak commented on #29
I think that we can close that item.

[2017-01-13 13:15] alanmeadows commented on #29
Agreed.

[2017-01-13 13:15] #29 closed

[2017-01-13 16:09] SamYaple commented on #100
the autoclusterer is a good choice, yes. In you situation, I would go with autoclusterer.

[2017-01-13 21:42] intlabs opened #117 "feat: Template Naming Convention"
Template names are global, even when used in sub-charts. As a result, it is very easy for collision to occur, with non-deterministic outcomes - which could (and has in my development work) result in effects ranging from failed services to potential security risks.

Due to this, I propose that template names, and macros, should always be scoped to the name of the chart they come from, this would re

[2017-01-15 17:38] mattmceuen opened #119 "NodeSelctors looking for wrong keys/values in some jobs"
Commit https://github.com/att-comdev/openstack-helm/commit/6f124d51072faa350da668708f9547070f833f19 added NodeSelectors to several jobs across several components, using the value ".Vales.labels.node_selector_key".  However, some components (neutron, nova) have more granular node selection, e.g.  ".Values.labels.server.node_selector_key", and this is causing make to fail with errors like the follow

[2017-01-15 17:41] wilkers-steve commented on #119
Yep, I noticed this as well.  Spoke with portdirect regarding this issue on Friday.  This will need to be addressed before releasing our first tagged version this coming week.

[2017-01-15 21:17] v1k0d3n commented on #119
This is true @mattmceuen. This is going to be cleaned up very soon, prior to a true 0.1.0 release. Going forward the project will have firm deadlines and bake-in periods for releases, and things like this will be addressed ahead of time. For our first initial release, we're going to have a working session next week and iron out each of these outstanding issues prior to official tagging. Then all d

[2017-01-16 10:46] Masber opened #121 "help: Can't login to container"
Hi,

I can't edit the /etc/resolv.conf file within the container following the instructions:

[code]

however

[code]

Any idea?

thank you

[2017-01-17 14:14] DTadrzak opened #122 "Use PodAffinity and NodeAffinity instead of Daemonsets"
In order to get rid of Daemonsets We should use a Deployments which use NodeAffinity/PodAffinity/PodAnti-Affinity.

Thanks to this approach we would be able to use only two kinds of labels (openstack-control-plane, openstack-compute-node), we don't need to take care about ovs label. It makes cluster administrating easier.

What's more It's first step to support drain command(#36) in OpenStack-helm

[2017-01-20 15:38] v1k0d3n commented on #119
this has now been merged.

[2017-01-20 15:38] #119 closed

[2017-01-20 15:54] v1k0d3n commented on #64
This issue has been addressed with the merge of #103

[2017-01-20 15:54] #64 closed

[2017-01-20 15:56] v1k0d3n commented on #43
Release will be tagged later this afternoon. Great job everyone who's helped raise issues and who submitted PR's!

[2017-01-20 15:58] v1k0d3n commented on #41
this has been completed with the work pulled in from #118, #127, #129.

[2017-01-20 15:58] #41 closed

[2017-01-20 15:59] v1k0d3n commented on #20
This has been completed for demonstration with refinement coming in further releases.

[2017-01-20 15:59] #20 closed

[2017-01-20 16:08] v1k0d3n commented on #43
Team, 0.1.0 has been tagged and our first release is complete!

[2017-01-20 16:08] #43 closed

[2017-01-20 23:10] v1k0d3n commented on #22
This issue is complete.

[2017-01-20 23:10] #22 closed

[2017-01-20 23:11] v1k0d3n commented on #26
Currently using Giant Swarm for demos

[2017-01-20 23:12] #26 closed

[2017-01-20 23:13] v1k0d3n commented on #47
This work has been completed. Documentation coming soon (in a separate PR).

[2017-01-20 23:13] #47 closed

[2017-01-20 23:14] v1k0d3n commented on #34
Wrong placement. Completing work in Halcyon.

[2017-01-20 23:14] #34 closed

[2017-01-20 23:17] v1k0d3n commented on #55
Public facing charts are tied to releases, and this work has been completed in the gh-pages branch. Updates are coming for first release: 0.1.0.

[2017-01-20 23:17] #55 closed

[2017-01-22 22:15] intlabs commented on #89
@alanmeadows I've done this as part of https://github.com/att-comdev/openstack-helm/pull/138

[2017-01-22 22:17] intlabs commented on #69
I think this is completed with https://github.com/att-comdev/openstack-helm/pull/137

[2017-01-23 17:15] v1k0d3n commented on #121
@Masber have  you been able to solve your issue? This falls outside of openstack-helm, so we may be able to address your question in the Kubernetes slack community. Would that work for you?

[2017-01-23 18:05] v1k0d3n opened #144 "ci: basic linting for repository"
we need some basic linting and CI gating for our repository. this will make the community more confident in the changes they are submitting, and help assist reviewers before merging code into our repository as well.

[2017-01-23 18:12] js5175 commented on #144
@nadeemanwar has started investigating. we are going to support the following:
- initially review ALL files and resolve open issues
- triggered job will review for just the changed files syntax/lint

[2017-01-23 19:51] v1k0d3n opened #145 "ci: repo templates for issues, automatic labeling, etc."
We need to define contribution guidelines, create issue templates and automatically label based on key words, etc.

[2017-01-25 22:06] intlabs opened #149 "fix: correct chart typos (globally)"
In the common chart we have a function called: `joinListWithColon`
 * https://github.com/att-comdev/openstack-helm/blob/master/common/templates/_funcs.tpl#L1

This should be `joinListWithComma`

[2017-01-25 22:26] v1k0d3n commented on #149
I'm going to tackle this issue @intlabs :+1:

[2017-01-26 00:19] v1k0d3n commented on #149
this is a change across a few charts:

L33, L37, L41 - `openstack-helm/common/templates/snippets/_k8s_init_dep_check.tpl`
L3, L5, L8, L38  - `opensack-helm/neutron/templates/etc/_ml2-conf.ini.tpl`
L1 - `openstack-helm/common/templates/_funcs.tpl`
L18 - `openstack-helm/cinder/templates/etc/_cinder.conf.tpl`

I think those are all the ones that I could find.

[2017-01-26 00:26] v1k0d3n commented on #88
@alanmeadows did you get to this.  i think you may have explained some of this offline. may be good to have tracked in an issue at stackanetes or here. just trying to keep up with some of our issues.

[2017-01-26 00:28] v1k0d3n commented on #69
@ss7pro; I believe this work is done. can you verify that this targets what you were asking for?

[2017-01-26 00:29] v1k0d3n commented on #35
@larryrensing I believe you resolved this, correct? can you include the PR and close the issue?

[2017-01-26 01:37] v1k0d3n commented on #23
issue closed with #87 is what @larryrensing was trying to say :)

[2017-01-26 01:37] #23 closed

[2017-01-26 01:42] v1k0d3n commented on #31
this work is being done, but doesn't need to be addressed in an issue. working with community members to find a nice landing place for the project.

[2017-01-26 01:42] #31 closed

[2017-01-26 01:43] v1k0d3n commented on #21
captured in issue  #32. closing this, since part of this was completed in 0.1.0.

[2017-01-26 01:43] #21 closed

[2017-01-26 01:44] v1k0d3n commented on #24
going to close this until a later time. no process as of yet, although prometheus is being considered as an upstream chart (from kubernetes/charts).

[2017-01-26 01:44] #24 closed

[2017-01-26 01:44] v1k0d3n commented on #30
add this item for tracking in documentation as an add-on.

[2017-01-26 01:51] v1k0d3n commented on #44
no need for this. using jenkins.

[2017-01-26 01:51] #44 closed

[2017-01-26 04:09] v1k0d3n opened #152 "feat: add glusterfs chart to openstack-helm (eventually part of openstack-helm-infra)"
looking around github,  i found a  couple of efforts that i think could be very useful for future `openstack-helm-infra` (a new repo coming soon).

i think that users will eventually want options for pvc's. while ceph may make sense for *most*, gluster is very attractive to a lot of enterprise users. to that point, a couple of efforts that could easily be included in what we're doing [similarly] w

[2017-01-26 21:48] v1k0d3n opened #153 "feat: maas chart values to include pluggable/optional secret creation"
@larryrensing i just noticed something about our MaaS chart. We want to ensure that MaaS users are able to generate (new) or use existing secret keys during MaaS initialization. this shouldn't be incredibly hard, but I definitely want to get this into the next release.

the change i'm looking for is here: https://github.com/att-comdev/dockerfiles/blob/master/maas/maas-region-controller/Dockerfile#

[2017-01-26 22:02] larryrensing commented on #153
it's not hardcoded in the dockerfile anymore-  i just haven't pushed my dockerfiles up to that repo yet, i've just been uploading the images to quay as i go

https://github.com/att-comdev/openstack-helm/blob/master/maas/templates/etc/_secret.tpl is where the current secret is being set.  one of my next steps is to make that configurable...  i tried doing a quick fix to make them both configurable

[2017-01-26 22:26] v1k0d3n commented on #153
ok..so push your changes, and update the MaaS charts as a first stop, I guess?

[2017-01-29 15:04] v1k0d3n opened #159 "repo: add additional community docs to the openstack-helm repos"
**Kubernetes Version** (output of `kubectl version`): N/A

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**: N/A

**Expected Behavior**: N/A

**What Actually Happened**: N/A

**How to Reproduce the Issue** (as minimally as possible): N/A

**Any Additional Comments**:
As we prepare our repo for the commun

[2017-01-30 17:57] v1k0d3n opened #160 "bug: Glance errors during deployment/deletion"
**Kubernetes Version** (output of `kubectl version`):
[code]

**Helm Client and Tiller Versions** (output of `helm version`):
[code]

**Development or Deployment Environment?**:
Bare Metal (in this case)

**Release Tag or Master**:
`TAG: 0.1.0`

**Expected Behavior**:
Glance deploys successfully

**What Actually Happened**:
Tiller throws an error and prevents launching Glance. Error is as follows:

[2017-01-31 17:43] gardlt commented on #145
is there any documents on what we would want on these guidelines? i think that adding .probot.js config would help this endeavor. https://github.com/bkeepers/PRobot

[2017-01-31 17:44] wilkers-steve commented on #145
I agree with probot.  That's actually next on my list.  I've been playing around with a fork lately and trying to figure out exactly what functionality we're looking for.

[2017-01-31 18:19] v1k0d3n commented on #145
probot is the way to go for labels being added automatically based on some matched items in issues/pr's.

we still need guidelines and headings in each of the `Chart.yaml`, GUIDELINES and OWNERS to match what Kubernetes is doing in their repos.

[2017-01-31 19:25] gardlt commented on #145
are there any templates on how we want the issues or PR to look.

[2017-01-31 19:31] wilkers-steve commented on #145
The issue and PR templates have been merged in already. I should have the owners file in review here soon

[2017-02-01 14:38] eeiden opened #165 "fix: correct README grammar"
README uses "Principals"; should be "Principles"

[2017-02-01 15:28] v1k0d3n commented on #160
can't reproduce. closing.

[2017-02-01 15:28] #160 closed

[2017-02-01 17:01] #165 closed

[2017-02-01 17:14] #145 closed

[2017-02-01 17:22] v1k0d3n commented on #149
this issue is resolved. thanks @alraddarla!

[2017-02-01 17:22] #149 closed

[2017-02-01 22:46] janwillies commented on #100
We are running RabbitMQ with Kubernetes-based discovery and it's not great tbh. While I agree it's the cleanest approach there's lots of custom work to be done. You need to run an unreleased version of autocluster (HEAD basically). You need to [hack-in](https://github.com/aweber/rabbitmq-autocluster/issues/92#issuecomment-245381003) a custom restart because autocluster doesn't like being started t

[2017-02-02 00:43] alanmeadows commented on #100
@janwillies This is useful real-world information.

I am hearing that the the dream of a "native" DNS-backed autoclustering scenario is the part of this issue that should be put on ice for the moment.

With that said, would an alternative etcd based autocluster approach also require the same great care for standing it up and ensuring reliability? @SamYaple is saying hes had success there (etcd bas

[2017-02-02 04:10] SamYaple commented on #100
3.7.0 rabbitmq will solve alot of issues here. They pull in alot of autocluster code and make clustering easier as well.

As for the partitioning, we should _absolutely_ be running with automatic partition recovery. With rabbitmq availability > lose of message

Food for thought

[2017-02-02 13:48] v1k0d3n commented on #100
@SamYaple this is valuable input. we should look at: https://github.com/rabbitmq/rabbitmq-server/issues/486

[2017-02-02 14:58] gardlt commented on #159
* OWNERS resolved in (#162)

[2017-02-03 14:51] v1k0d3n opened #168 "docs: add apache and project headers to each file within the project."
**Kubernetes Version** (output of `kubectl version`): N/A

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**: N/A

**Expected Behavior**: N/A

**What Actually Happened**: N/A

**How to Reproduce the Issue** (as minimally as possible): N/A

**Any Additional Comments**:
The project needs to be identified as

[2017-02-03 15:40] v1k0d3n opened #171 "Remove the "Reviewable" Webhook from Openstack-Helm"
**Kubernetes Version** (output of `kubectl version`): N/A

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**: N/A

**Expected Behavior**: N/A

**What Actually Happened**: N/A

**How to Reproduce the Issue** (as minimally as possible): N/A

**Any Additional Comments**:
Disabling the "Reviewable" webhook on

[2017-02-03 16:08] SamYaple commented on #100
Yea @v1k0d3n those features were pulled out of autocluster. The guy that wrote autocluster is a member of the rabbitmq team. Lots of synergy there.

[2017-02-04 15:39] wilkers-steve commented on #144
Brandon, can you add me as an assignee?  I've got linting working through TravisCI, and close to having `helm install --dry-run --debug` working.  These will be the logical first steps and offer us at least some basic jobs to watch the repo.

https://travis-ci.org/wilkers-steve/openstack-helm

The current jobs I have running in TravisCI run `make` on the repo, but the next step is to break these o

[2017-02-04 16:24] mattmceuen opened #172 "docs: add "helm repo add" to minikube.md TLDR"
**Is this a bug report or feature request?** (choose one):
Bug Report (documentation)

**Kubernetes Version** (output of `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: v

[2017-02-04 16:27] v1k0d3n commented on #172
you know...i just realized that yesterday too. good catch @mattmceuen...this is a welcome PR!

[2017-02-04 16:41] mattmceuen commented on #172
on it :)

[2017-02-04 16:58] #172 closed

[2017-02-04 23:03] #168 closed

[2017-02-05 17:21] mattmceuen opened #174 "docs: clarify hostPath wording in minikub.md"
**Is this a bug report or feature request?** (choose one):
bug report

**Kubernetes Version** (output of `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Majo

[2017-02-05 19:20] #174 closed

[2017-02-06 14:21] js5175 commented on #144
@na1431 @wilkers-steve can we review and determine how Jenkins and Travis compare? I want to make sure we aren't duplicating work. And if Travis is better let's understand why:)

[2017-02-06 14:21] js5175 commented on #144
@nadeemanwar

[2017-02-06 14:44] wilkers-steve commented on #144
@nadeemanwar @js5175 Absolutely!

[2017-02-06 15:16] v1k0d3n commented on #144
@js5175 @nadeemanwar @wilkers-steve: for one, since the travis.yml and other CI information will be in the open (in the repo) and available to developers, the community can maintain testing for the gate. i would say this is a huge improvement for what we're able to do over an internal Jenkins build (as it's currently done today). if we were to put the Jenkins pipeline in the open under [aic-ci/ci-

[2017-02-06 15:53] nadeemanwar commented on #144
May be we can talk about that in the parking lot today.

[2017-02-06 22:34] v1k0d3n opened #177 "feat: add basic swift chart"
**Kubernetes Version** (output of `kubectl version`):  N/A

**Helm Client and Tiller Versions** (output of `helm version`):  N/A

**Development or Deployment Environment?**:  N/A

**Release Tag or Master**:  N/A

**Expected Behavior**:  N/A

**What Actually Happened**:  N/A

**How to Reproduce the Issue** (as minimally as possible):  N/A

**Any Additional Comments**:
one of the next charts we woul

[2017-02-06 22:36] v1k0d3n opened #178 "feat: add basic manila chart"
**Kubernetes Version** (output of `kubectl version`):  N/A

**Helm Client and Tiller Versions** (output of `helm version`):  N/A

**Development or Deployment Environment?**:  N/A

**Release Tag or Master**:  N/A

**Expected Behavior**:  N/A

**What Actually Happened**:  N/A

**How to Reproduce the Issue** (as minimally as possible):  N/A

**Any Additional Comments**:
another chart that we would li

[2017-02-06 22:55] v1k0d3n commented on #171
4 people affirm that Reviewable is out!

[2017-02-07 16:31] v1k0d3n opened #180 "bug: remove .lock files from repo"
**Kubernetes Version** (output of `kubectl version`): N/A

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**: N/A

**Expected Behavior**: N/A

**What Actually Happened**: N/A

**How to Reproduce the Issue** (as minimally as possible): N/A

**Any Additional Comments**: N/A

Need to remove all `.lock` files

[2017-02-07 16:37] v1k0d3n commented on #171
done.

[2017-02-07 16:37] #171 closed

[2017-02-07 16:39] v1k0d3n commented on #121
i want to give this a couple more days, but haven't heard back from @Masber on if this  is still an issue or not.

[2017-02-07 19:25] #180 closed

[2017-02-07 20:31] wilkers-steve opened #183 "ci: Get `helm install local/foo` running in TravisCI"
**Is this a bug report or feature request?** (choose one):  Feature request

I'd like to explore the possibility of running `helm install local/foo` in the TravisCI jobs so we can verify charts are being installed properly.  I see this happening in one of two approaches:  we either try to run these charts inside TravisCI (resource intensive, likely) or we leverage the locally running Tiller and st

[2017-02-07 21:05] Masber commented on #121
this has been fixed.
`kubectl exec kube-controller-manager-kub1.localdomain -it -n kube-system -- /bin/sh` is the command to run

thanks

[2017-02-07 21:05] #121 closed

[2017-02-07 21:30] #144 closed

[2017-02-07 21:31] v1k0d3n commented on #183
you already got the issue. thanks @wilkers-steve

[2017-02-07 22:47] v1k0d3n commented on #121
great! thanks @Masber

[2017-02-08 15:43] larryrensing opened #186 "feat: Implement HA postgresql"
**Is this a bug report or feature request?** (choose one):
Feature request

We need to have a HA, resilient postgresql cluster.  Currently, MaaS is the only project we are using postgresql with, and the postgresql instance is running internal to the container.  Future projects may need to leverage postgresql.

**Kubernetes Version** (output of `kubectl version`):

n/a

**Helm Client and Tiller Ver

[2017-02-08 16:31] alanmeadows opened #187 "ci: travis-ci dry-run optimizations"
1) Suggest dry-run logic is put into make so developers can run it locally:

`make dry-run`

2) Suggest dry-run logic pipes output: `helm .... 2>&1 > /tmp/dry-run-output.log` for each chart and simply validates that `helm --dry-run` exited with 0.  If it is !=0 then it does a `cat /tmp/dry-run-output.log`.  This solves out huge output issue as charts rendering fine are not of interest.

3) We shou

[2017-02-08 16:57] wilkers-steve commented on #187
@alanmeadows Sounds good.  These changes shouldn't be difficult, and I can work on getting these in over the next day or two

[2017-02-09 06:23] janwillies commented on #186
one possible option would be via patroni: https://github.com/zalando/patroni

[2017-02-09 06:27] janwillies commented on #183
The next helm release (due next week if everything goes well) will feature a [testing framework](https://github.com/kubernetes/helm/issues/1163#issuecomment-271875395). This could be leveraged for verifying an expected output.

[2017-02-09 13:04] wilkers-steve commented on #183
Thanks for the heads up Jan. This is certainly something to look into using and even contribute to directly if it's something we can leverage.

[2017-02-09 20:28] gardlt opened #189 "fix: rename file under cinder chart"
**Is this a bug report or feature request?** (choose one): bug

**Kubernetes Version** (output of `kubectl version`): 1.5.*

**Helm Client and Tiller Versions** (output of `helm version`):

**Development or Deployment Environment?**:

**Release Tag or Master**:

**Expected Behavior**:
job-ks-endpoints.yaml

**What Actually Happened**:
job-ks-endpoints.yaml.yaml

**How to Reproduce the Issue** (as

[2017-02-10 22:04] v1k0d3n opened #191 "feat: add basic ironic chart"
**Kubernetes Version** (output of `kubectl version`):  N/A

**Helm Client and Tiller Versions** (output of `helm version`):  N/A

**Development or Deployment Environment?**:  N/A

**Release Tag or Master**:  N/A

**Expected Behavior**:  N/A

**What Actually Happened**:  N/A

**How to Reproduce the Issue** (as minimally as possible):  N/A

**Any Additional Comments**:
another chart that we would li

[2017-02-10 22:05] v1k0d3n commented on #191
@maris-accenture this one is for you! :-)

[2017-02-11 15:02] maris-accenture commented on #191
@v1k0d3n Thanks!

[2017-02-13 14:48] intlabs opened #192 "Developer environment fails to launch as a result of CNI issues within minikube."
**Is this a bug report or feature request?** (choose one): BUG REPORT

**Kubernetes Version** (output of `kubectl version`): v1.5.1 and v1.5.2

**Helm Client and Tiller Versions** (output of `helm version`): v2.1.3

**Development or Deployment Environment?**: Development

**Release Tag or Master**: All

**Expected Behavior**: Happy developers, rainbows, unicorns etc

**What Actually Happened**: Mi

[2017-02-13 14:49] v1k0d3n opened #193 "docs: add troubleshooting section"
we're starting to run into issues repeated issues with minikube, in which we need to work around various times:

* changing the iso used by minikube
* removing CNI networking

we want to track these items and any other useful information for the project. i'd like to be able to refer people to section xyz, so they're able to help themselves.

so i would like a folder to appear under `./docs/trouble

[2017-02-13 14:51] ss7pro commented on #191
If would first start with design document :) We at Intel been doing Ironic @ Kubernetes for quite a long time and would really like to share our experience around design and taking advantage of multiple recenty added features.

[2017-02-13 14:53] ss7pro commented on #100
Mirantis did significant amount of work in making sure that autocluster with etcd backend is bulletproof (race conditions, split brains, recovery, scale up/scale down). My PR https://github.com/att-comdev/openstack-helm/pull/123 is 100% based on Mirantis work.

[2017-02-13 14:55] ss7pro commented on #89
Folks, as init-containers are going to be moved out of beta in K8S 1.6 we should ensure that our charts would be able to handle both of them. We should go even further with init-container template to included event the calling statement in the common package (so we can have  have condition on k8s version in a single place).

[2017-02-13 14:56] #69 closed

[2017-02-13 14:57] ss7pro opened #194 "Node affinity / anti affinity moving out of alpha in K8S 1.6"
We should move affinity / anti-affinity to common package and have a condition there to generate appropriate output depeding on underlying kubernetes version alpha < 1.5

[2017-02-13 15:25] v1k0d3n commented on #191
@ss7pro fair point. some of this is currently being framed up in our docs. these are in-flight, and it would be nice to have your feedback from Intel (since your team has a lot of experience with this).

[General Project Philosophy](https://github.com/att-comdev/openstack-helm/blob/master/docs/helm_overrides.md)

[2017-02-13 15:26] intlabs opened #195 "bug: Stackenetes Entrpoint Image (v0.1.0) does not correctly detect service dependencies with k8s >1.5"
**Is this a bug report or feature request?** (choose one):

**Kubernetes Version** (output of `kubectl version`): >=v1.5.0

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**: N/A

**Expected Behavior**: For entry-point image to correctly detect service status

**What Actually Happened**: Image incorrectly

[2017-02-13 15:50] alanmeadows commented on #195
Are we sure this is the _totality_ of the issue (at least in K8s 1.5.1)? @larryrensing has seen a service object add endpoints that were not yet in a ready state (and allow non-ready service endpoints was not annotated, whatever that annotation is -- on the service).  He's seen this simply using kubectl describe. I believe that would break anything trying to do service type validations.  I am wond

[2017-02-13 16:13] ss7pro commented on #195
@alanmeadows This bug: https://github.com/stackanetes/kubernetes-entrypoint/pull/21/files#diff-96a47b800d818cc653a127693efd308b

kubernetes-entrypoint was just waiting until any endpoint will appear in the service when we should wait for only ready ones. Patch above fixes that issue.

[2017-02-13 16:17] DTadrzak commented on #195
We need to bump version to 0.1.1

[2017-02-13 16:24] intlabs commented on #195
@alanmeadows this will definatly go some way to resolving the issue as @ss7pro has explained much better than I have (should have linked in the original issue...). But I've also seen similar 'phantom' endpoints on occasion which this would not resolve.

[2017-02-13 17:15] v1k0d3n opened #196 "feat: add basic barbican chart"
**Kubernetes Version** (output of `kubectl version`):  N/A

**Helm Client and Tiller Versions** (output of `helm version`):  N/A

**Development or Deployment Environment?**:  N/A

**Release Tag or Master**:  N/A

**Expected Behavior**:  N/A

**What Actually Happened**:  N/A

**How to Reproduce the Issue** (as minimally as possible):  N/A

**Any Additional Comments**:
another chart that we would li

[2017-02-13 17:15] v1k0d3n commented on #196
i'm going to work on this chart :)

[2017-02-13 18:23] alanmeadows commented on #195
If entrypoint actually examines the _readiness_ of the endpoints in the service list, as opposed to just their mere existence, this may mask the K8s phantom issue then.  I wasn't aware it was going to that length.  0.1.1 seems like a good move then.

[2017-02-13 22:59] larryrensing opened #198 "MaaS using postgresql pod(s) as a storage endpoint"
**Is this a bug report or feature request?** (choose one):

MaaS currently uses a postgresql database mounted on a hostDir on the node it is deployed to.  Ideally, it will point to a postgresql pod(s) running within the kubernetes cluster.  This will make MaaS more modular and removes the burden of holding the database mount from the node itself.

**Kubernetes Version** (output of `kubectl version

[2017-02-14 00:31] alanmeadows opened #200 "feat: provide flexible operator overrides for all OpenStack configuration templates"
This is a large feature that attempts to solve several critical items to make this project useful for real deployments:

1) Charts need a consistent and reliable way to offer operators the option to override configuration file settings.  For instance, if the operator knows they want to change the `debug` value in the `[DEFAULT]` section in `nova.conf`, what do they provide to `helm install --set`

[2017-02-14 00:45] alanmeadows opened #201 "feat: bootstrapping framework across all OpenStack charts"
This feature requests that we support a consistent bootstrapping request framework across all charts.

Every OpenStack service has resources that can be created within the service once it is actually up.  Our charts deploy very vanilla versions of services, and to be sure, this is the correct path for us.  However, users wishing to deploy a functional cloud will need some basic items and we want t

[2017-02-14 00:51] alanmeadows commented on #200
@intlabs @v1k0d3n @DTadrzak @wilkers-steve

[2017-02-14 13:07] intlabs commented on #201
In addition, there are other things we should be doing as part of the bootstrap process (off the top of my head):

- Creating and setting cinder volume types (required for some horizon workflows)
- Loading glance metadata schema (though we could include this in db migration)
- Create initial external network in Neutron
- Create appropriate initial User Roles in Keystone (and stop using admin for s

[2017-02-14 15:44] fasaxc commented on #192
The Calico error is
[code]
It suggests that the relevant ipsets kernel module isn't being loaded.

[2017-02-14 16:23] fasaxc commented on #192
Yes, looks like the `v1.0.6` ISO is missing the relevant IP sets kernel modules (but they are present in `v1.0.4`.

On `v1.0.6`, the core IP set module is compiled in but all the "type" modules are disabled (so you can't actually create an IP sets). In addition, there is a low limit (256) on the number of IP sets:
[code]

[2017-02-14 17:03] intlabs commented on #192
@fasaxc Awesome! Thanks for the update, I'll try and test again against the 1.0.4 iso that we caught this issue with last time: https://github.com/kubernetes/minikube/issues/973.

@v1k0d3n, we should probably keep an eye on this issue: https://github.com/kubernetes/minikube/issues/1110 as it may help us keep sidestep these regressions in future, and let us add other goodies to the iso that we woul

[2017-02-14 18:14] andrecolin opened #202 "feat: Kubernetes Logging Monitoring and Alerting Building Blocks"
There will be many solutions to monitoring Kubernetes and the Applications running on Kubernetes. This issue request is to identify the components that can easily be combined into a Deployment Helm Chart and use these building blocks to form several best of breads Logging Monitoring and Alerting (LMA) Solution.
We need the following building blocks Helm Charts making sure they are idempotent and c

[2017-02-14 19:06] v1k0d3n commented on #202
@andrecolin you mentioned having charts for each of these items. do these work provide good starters? i would imagine that many of these items we want to really be upstream in other sources (when possible):

ElasticSearch: [kubernetes/charts/incubator/elasticsearch](https://github.com/kubernetes/charts/tree/master/incubator/elasticsearch), or there are 3 versions of elasticsearch in [fabric8io's r

[2017-02-14 20:22] v1k0d3n commented on #202
moved to openstack-helm-addons repo [issue 1](https://github.com/att-comdev/openstack-helm-addons/issues/1).

[2017-02-14 20:22] #202 closed

[2017-02-15 03:51] mcnanci opened #204 "info: Getting more done in GitHub with ZenHub"
Hola! @mcnanci has created a [ZenHub](http://www.zenhub.com) account for the **att-comdev** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnbo

[2017-02-15 05:19] gardlt commented on #204
zenhub is an awesome tool. especially since they added their ff plugin

[2017-02-15 11:41] v1k0d3n opened #205 "Getting more done in GitHub with ZenHub"
Hola! @v1k0d3n has created a [ZenHub](http://www.zenhub.com) account for the **att-comdev** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnbo

[2017-02-15 11:43] #205 closed

[2017-02-15 12:18] intlabs commented on #117
This has been resolved by merging: https://github.com/att-comdev/openstack-helm/pull/167

[2017-02-15 12:18] #117 closed

[2017-02-15 13:10] intlabs opened #207 "Standardize control-plane node label value specification"
**Is this a bug report or feature request?**: Mixed; depends on perspective

**Kubernetes Version** (output of `kubectl version`): N/A

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**: Master

**Expected Behavior**: As a developer and operator, it would be desirable to have standard control-plane node s

[2017-02-15 17:51] v1k0d3n opened #209 "misc: move non-openstack-helm items out of this repo and into infra and addons"
I believe it's time to start taking non-openstack-helm related items out of this repo, and place them into other more appropriate repositories:

**openstack-helm-infra:**
- ceph
- ingress
- mariadb
- memcached
- postgres
- rabbitmq

**openstack-helm-addons:**
- maas
- clair (security scanner)
- grafana
- kibana
- prometheus

this is a planning effort. need input from @alanmeadows

[2017-02-16 03:16] nadeemanwar commented on #187
@alanmeadows what you do when you found the error like 'gotpl', fail the build or just print it in the log?

Running helm install --dry-run --debug on maas-0.1.0.tgz
2017/02/16 03:03:06 storage.go:37: Getting release "boisterous-chipmunk" (v1) from storage
2017/02/16 03:03:06 release_server.go:826: Dry run for boisterous-chipmunk
No Error found for dry run checking for gotpl
    template: no templ

[2017-02-16 04:00] alanmeadows commented on #187
This is a failed build when this occurs.  If we find this, there is no way the template will have been rendered correctly.

[2017-02-16 17:34] nadeemanwar commented on #187
@alanmeadows  I updated the script to fail the build when 'gotpl' is found the log. Now the build is failing on this one. How to fix it :-)  This is the last log from my testing which is to fix the part 2 and 3 of the issue.
https://travis-ci.org/nadeemanwar/openstack-helm/builds/202304181

[2017-02-17 14:24] alanmeadows commented on #209
Completely agreed with the layout proposed.

I think we should define infra as "foundational infrastructure elements that are necessary to power OpenStack" and of course, there could be elements there that may compete amongst one another, for instance, ceph and glusterfs, or mariadb and postgre.

I think we describe addons as things that embelish OpenStack and are not necessary to operate it.

Thi

[2017-02-17 14:28] wilkers-steve commented on #209
I agree as well, and I like @alanmeadows's definitions of infra and add-ons.

[2017-02-17 14:28] v1k0d3n commented on #209
@alanmeadows a potential thought to consider would be to use a submodule for infra items, as then it would be very easy to include these as just one additional step. this could be done by leveraging CI out of the box too, but some thought/care has to be considered on where this repo ends up (gerrit/openstack projects will not handle submodules well, while github/CNCF would be fine). then it's all

[2017-02-17 14:37] v1k0d3n opened #214 "ci: gating based on +2 model"
@wilkers-steve we need to start gating on a successful CI build, followed by a +2 approach in GitHub. let's start making this happen, and when our CI is improved (potentially today, i'm hoping?) we can start looking for additional project core reviewers at the PTG.

[2017-02-17 14:39] v1k0d3n commented on #214
@nadeemanwar my hope is that we would start documenting CI aspects very soon as well. if we can get improvements in before the PTG, that would be extremely helpful. then we can start working on CI documentation and developer expectations based on what is currently in place (this will be helpful for devs to know what to look for in gating and CI).

[2017-02-17 14:42] intlabs commented on #214
@v1k0d3n this would be awesome! If we could eventually get to a 2*+2 model that would be the ideal from my PoV.

[2017-02-17 14:44] v1k0d3n commented on #214
@intlabs that works. i mean really...i want the community to start driving the project. that means these things all need to be in order, published, voted and decided on publicly, and maintained by the community. i will also be looking for additional cores at the PTG and beyond. we're actively starting this process now.

[2017-02-17 14:49] intlabs commented on #209
The suggestions from @alanmeadows are pretty close to the ideal layout I'd like to see at some point. Though as @v1k0d3n's pointed out the logistics of the repo's we maintain may be driven by the project's eventual home.

[2017-02-17 15:44] alanmeadows commented on #209
Agreed, the logistics of how the repositories interrelate and whether openstack-helm itself can reference them in a meaningful way beyond documentation links is entirely dependent on a home - it seems locking this in first (at least the destination, not the actual move) makes sense before the effort of migration then.

Just one comment--git submodules certainly provide a powerful way for us to int

[2017-02-17 15:46] alanmeadows commented on #209
@DTadrzak @ss7pro please feel free to add any additional thoughts!

[2017-02-17 15:58] v1k0d3n commented on #191
@ss7pro i am preparing a list of items to discuss at the PTG as we start to have the community drive the project, and as we attempt to find a final home for openstack-helm. is your team going to be at the PTG? i will be publishing a list of items soon (i'd like to get them out today), and then we'll have the community formalize a roadmap for the project going forward.

[2017-02-17 16:14] intlabs commented on #204
I've been using this the last few days and it's the 1st tool/extension for GitHub that's not driven me crazy. Thanks @mcnanci ! :)

[2017-02-17 19:18] ss7pro commented on #191
We wont't make it to the PTG but we're more than happy to review this list :)

[2017-02-17 19:21] ss7pro commented on #209
+1 except submodules as we have very bad expirience with that when multiple people are sending pull requests changing reference to sub modules (permament need for rebasing reference to a submodule).

[2017-02-18 22:42] v1k0d3n commented on #209
@ss7pro good advice. and I +1 other's comments as well. i think a potential improvement is using `subtree` over `submodule`, in which things become easier to maintain.

[2017-02-20 16:30] gardlt commented on #28
would we like to follow the Kubenetes contribution structure. https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md

[2017-02-20 18:41] nadeemanwar commented on #187
I added a check to see certain phrases in the output log because even when the dry-run install is successful we can still see errors in the log. I added a erros.list file in repo where we can define the phrases which we should search in the output log after the installation of chart and if we find something, fail the build.

Currently it is looking for ‘gotpl’ word and it was found in 4 different

[2017-02-20 20:21] wilkers-steve commented on #187
@nadeemanwar when's the last time you rebased?  Some of these errors (the maas bits in particular) are due to a previous error that was fixed.  "helm_toolkit.template" is "helm-toolkit.template" in the fixed version.  I'd rebase and rerun the jobs

[2017-02-21 00:03] nadeemanwar commented on #187
Thank Steve. I pull the new changes and yes the maas issues disappeared but other 3 I am still getting them.

[2017-02-21 14:31] larryrensing commented on #209
Agree with @alanmeadows. "Infra" for db backends and the projects needed to stand up your deployment, "addons" for ancillary OpenStack projects.

[2017-02-21 16:37] js5175 commented on #187
@nadeemanwar
1) Can we update it so that for the openstack components this change doesn't err out, rather it can log it as a warning for now?
2) Submit this as a WIP PR so everyone can take a look (and we can see the travis execution).

[2017-02-21 17:14] wilkers-steve opened #230 "bug: Missing template for nova configmaps"
**Is this a bug report or feature request?** (choose one): Bug report

**Kubernetes Version** (output of `kubectl version`): N/A

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**: Master

**Expected Behavior**: Nova chart lints and installs with `--dry-run` successfully

**What Actually Happened**:  Erro

[2017-02-21 17:15] wilkers-steve commented on #187
@nadeemanwar The nova issue is related to a template declared for the nova etc configmap.  I've filed an issue here: https://github.com/att-comdev/openstack-helm/issues/230.  Good catch.

The other issues are looking for secrets that don't exist because we haven't generated them yet.  We can either do one of two things:  We can try to generate the secrets before we run `helm install foo --dry-run

[2017-02-21 17:54] mcnanci commented on #204
@gardlt @intlabs Awesome feedback. I will continue playing with the tool as more of the community vision is pulled together.

[2017-02-21 19:17] nadeemanwar commented on #187
I added the warning log phrases and warning log and created the WIP PR.

[2017-02-22 03:34] gardlt commented on #28
Please close this user story. Duplicate. #159

[2017-02-22 20:32] gardlt commented on #230
it seem both _ceph.conf.tpl and _ceph.client.cinder.keyring.yaml.tpl are needed. we might be missing a tpl or having a bad import.

[2017-02-24 01:01] #198 closed

[2017-02-24 03:53] #189 closed

[2017-02-25 17:29] mattmceuen opened #237 "Copyright headers break rabbitmq"
**Is this a bug report or feature request?** (choose one):
Bug report

**Kubernetes Version** (output of `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Majo

[2017-02-25 17:36] mattmceuen commented on #237
Looks like erlang-style %-comments work for rabbitmq.config and enabled_plugins, although it appears we may need to leave the copyright off of erlang.cookie.  If that seems like a good resolution I can make the change.

[2017-02-25 17:39] jallirs commented on #237
Seems fine :) I would say go ahead :)
On Sat, Feb 25, 2017 at 12:36 PM mattmceuen <notifications@github.com>
wrote:

[2017-02-25 18:11] mattmceuen commented on #237
Thanks Randeep! :) PR submitted.

[2017-02-25 19:09] v1k0d3n commented on #237
good catch @mattmceuen. PR approved (LGTM).

[2017-02-25 19:31] #237 closed

[2017-02-25 23:21] mattmceuen opened #239 "bug: Charts using invalid rabbitmq credentials by default"
**Is this a bug report or feature request?** (choose one):
Bug report

**Kubernetes Version** (output of `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Majo

[2017-02-25 23:26] mattmceuen commented on #239
There are some different ways to resolve this, and I'm not sure which is best:
1) Change rabbitmq's default_user to "rabbitmq", like the openstack components expect.
2) Change the openstack components' rabbit login to "openstack", like rabbitmq expects.
3) Somehow template the admin_user in the rabbitmq values.yaml to actually configure something appropriate -- it's not clear to me what that is; t

[2017-02-26 04:18] intlabs commented on #239
@mattmceuen this is indeed rather ugly at present, I'd like to see us move in the direction of using proper users for rabbitmq. Until then, unless anyone objects I think option 1 makes the most sense.

[2017-02-27 02:15] #193 closed

[2017-02-27 13:01] jallirs commented on #239
I would say the best is to have randomly generated values for the
password/username inside values.yaml by default that can be overridden.

And then for the interim case I agree with Pete. Option 1.
On Sat, Feb 25, 2017 at 11:18 PM Pete Birley <notifications@github.com>
wrote:

[2017-02-27 13:33] v1k0d3n commented on #239
@jallirs stronger passwords can be worked out later, when we can also reliably *present* the password artifact to users. there are likely a couple of ways to do this. but i'm with @intlabs, starting with sane users is a good first step and a quick, iterative approach.

[2017-02-27 13:35] jallirs commented on #239
Yeah I agree. :) I think for the  interim case we're on the same page :)
On Mon, Feb 27, 2017 at 8:33 AM Brandon B. Jozsa <notifications@github.com>
wrote:

[2017-02-28 18:06] andrecolin commented on #26
Prometheus Integration in Kubernetes has some challenges.

First off, Prometheus does now work by itself to form a complete Logging Monitoring and Alerting (LMA) Solution. One such solution could be Prometheus and Grafana and if you want to look at historical time periods of activity, a time series database such as influxDB or OpenTSDB.

Another issues is security and how to allow Prometheus acces

[2017-03-02 01:17] intlabs commented on #239
@jallirs Using `password` everywhere is indeed about as far from ideal as you could get. Something we will need to address moving forward is how to set secure passwords for services by default. Personally, I'm leaning toward proper documentation that makes it clear that users can deploy either with a customized values.yaml or using a command like:
[code]
But I'm very keen to get any other suggesti

[2017-03-02 14:33] larryrensing opened #241 "MaaS error when reading secret"
**Is this a bug report or feature request?** (choose one):
bug report

MaaS relies on a shared secret between the rack and region controllers to authenticate.  Every time the secret file is read, the following error occurs:

`binascii.Error: Non-hexadecimal digit found`

MaaS does not appear to be able to parse comments out from the apache headers we are putting in the _secret.tpl file, so those a

[2017-03-02 17:10] v1k0d3n commented on #241
issue merged. thanks @larryrensing!

[2017-03-02 17:10] #241 closed

[2017-03-02 22:16] v1k0d3n commented on #239
i think this is the *best* way to address this, honestly. otherwise, if we try to do it in code things will quickly get messy (something by nature and vision,  we're trying to avoid). i'm not saying that we're going to be able to fight this off *forever*, but we should try...and clearly documenting this operations case will give us something to point when operators bring it up. just my 0.2.

[2017-03-02 22:19] v1k0d3n commented on #28
sure is. done.

[2017-03-02 22:19] #28 closed

[2017-03-03 03:01] wilreichert opened #243 "mariadb chart fails with kolla/centos-binary-mariadb image"
**Is this a bug report or feature request?** (choose one):
bug

**Kubernetes Version** (output of `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029c3a408176b55c30846f0faedf56aae5992e9b", GitTreeState:"clean", BuildDate:"2017-02-15T06:40:50Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1",

[2017-03-04 16:57] v1k0d3n commented on #243
resolved in #244

[2017-03-04 16:57] #243 closed

[2017-03-05 19:50] v1k0d3n opened #246 "plan:"
**Kubernetes Version** (output of `kubectl version`): N/A
**Helm Client and Tiller Versions** (output of `helm version`): N/A
**Development or Deployment Environment?**: N/A
**Release Tag or Master**: N/A
**Expected Behavior**: N/A
**What Actually Happened**: N/A
**How to Reproduce the Issue** (as minimally as possible): N/A
**Any Additional Comments**:

**Background:**
I think we need to discuss

[2017-03-05 23:54] intlabs commented on #246
In addition to the points @v1k0d3n raises above, this raises issues that I can see, and we should discuss at our next community meeting:
- Documentation needs to be updated as operations and features change: The change in behavior, installation, and operations of rabbitmq were not noted in either the development or deployment docs.
- This chart did not correctly set the password for use with the e

[2017-03-06 00:15] intlabs commented on #230
@wilkers-steve, @gardlt I think I need to that the hold my hands up to this one, looks like I butchered this as part of my cleanup work. See here, for the lines I accidently removed: https://github.com/att-comdev/openstack-helm/blob/8afa729ffba9378b76e63dfc282f16ecf1d9baa9/nova/templates/configmap-etc.yaml#L7-L8.
I'll put a fix in asap.

[2017-03-06 01:16] wilkers-steve commented on #214
@v1k0d3n We can probably close this issue out since we're looking at OpenStack-Infra.  This should be handled on their end once we're merged in.  At that point, we'll just be responsible for the jobs and not the gating.

[2017-03-06 01:17] v1k0d3n commented on #214
yup. closing.

[2017-03-06 01:17] #214 closed

[2017-03-06 08:37] wilreichert opened #248 "Apache package differences in CentOS and Ubuntu break horizon and keystone charts"
Ubuntu <--> CentOS
------------------------------------------
/usr/sbin/apache2  <--> /usr/sbin/httpd
/etc/apache2/envvars  <--> /etc/sysconfig/httpd
/etc/apache2  <--> /etc/httpd
/var/log/apache2  <--> /var/log/httpd

All the files referencing Ubuntu apache specifics
[code]

Perhaps it's worth discouraging people to use CentOS based images until it's been vetted more. I suspect the mariadb chart

[2017-03-06 10:26] intlabs commented on #248
@wilreichert I've been doing some work on this issue, and hope to have a PR available soon that resolves this. As you have identified the primary issue is the naming of the primary apache binary as either `httpd` or `apache2`, though there are also directory layout differences that we need to take into account. In the meantime, I've been testing with the CentOS Yaodu Image that has been set up to

[2017-03-06 13:05] wilkers-steve commented on #183
@v1k0d3n I'm closing this issue since it's not necessary moving forward.

[2017-03-06 13:05] #183 closed

[2017-03-06 22:31] wilreichert commented on #248
I suppose it's impossible to identify the distro an image is using at chart make time? I don't see any other information to use besides a name which refers to an image in a repo that may or may not be accessible to the build machine.

[2017-03-06 22:41] alanmeadows commented on #248
Ultimate flexibility would mean allowing the operator to specify the binary paths and directories leveraged by scripts as well as configmap mount destinations, and so on as overrides.   There is already a plan to make the mounts values driven, but we want needing to override that to be a rare case not an every day use case.  This level of flexibility could potentially result in an unsightly set of

[2017-03-07 00:54] wilreichert commented on #200
I like 2 / 3 / 7, but attempting to set defaults for every value would difficult. Maybe better to exclude anything not explicitly set?

{{ with .Values.conf.nova_conf.api_database.mysql_sql_mode -}}
mysql_sql_mode = .Values.conf.nova_conf.api_database.mysql_sql_mode
{{- end }}

and only include the minimum set of values in values.yaml to get a system running.

[2017-03-07 01:47] intlabs commented on #200
Alan's been working on a prototype for this that implements the precise functionality you describe slightly differently. Rather than commenting the line in if a value is set, we have been experimenting with commenting the comment delimiter out if a value is set. This is much better explained in code than words:

[code]

The advantage of this approach we feel is that it allows the resultant configu

[2017-03-07 02:15] wilreichert opened #253 "mariadb chart readiness probe fails with kolla/*-binary-mariadb image"
The mariadb chart [readiness probe](https://github.com/att-comdev/openstack-helm/blob/master/mariadb/templates/bin/_readiness.py.tpl#L19) uses pymysql which is not installed in the kolla mariadb images. End result is the database starts fine but the container is never marked as read due to the probe failure.

[2017-03-07 03:54] intlabs commented on #253
@wilreichert good catch!

@alanmeadows, would it make sense to explore using a more portable `mysql` binary client and shell based readiness check?

[2017-03-07 15:01] alanmeadows commented on #253
The check that is currently python based is extremely simplistic, we can easily replace it with a simpler, less dependent check.

[2017-03-07 15:59] alanmeadows commented on #239
Another value add of a wrapper like [armada](https://github.com/att-comdev/armada) (or even a helm plugin potentially), and nest the intent right in the YAML:

[code]

[2017-03-07 19:18] intlabs opened #255 "bug: Incorrect hosts used for Memcached in Horizon and Keystone"
**Is this a bug report or feature request?** (choose one): Bug

**Kubernetes Version**: N/A

**Helm Client and Tiller Versions**: N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**: Master

**Expected Behavior**:
For Horizon and Keystone to use the correct value for Memcached in config files.
**What Actually Happened**:
Both Horizon and Keystone use the RabbitMQ hostna

[2017-03-07 20:12] ap2516 commented on #253
I can work on this

[2017-03-08 12:19] andrecolin commented on #253
The peer finder python script is also affected. Taking a look at it now

[2017-03-08 15:43] larryrensing opened #257 "feat: NodePort on/off support"
**Is this a bug report or feature request?** (choose one):
Feature request

**Kubernetes Version** (output of `kubectl version`):
Any
**Helm Client and Tiller Versions** (output of `helm version`):
Any
**Development or Deployment Environment?**:
Both
**Release Tag or Master**:
Master
**Expected Behavior**:
Services should have a flag to enable/disable node ports
**What Actually Happened**:
Only Ho

[2017-03-08 15:47] larryrensing commented on #257
i will take care of this @v1k0d3n

[2017-03-08 15:53] v1k0d3n commented on #257
yours @larryrensing. thanks for picking this up.

[2017-03-08 16:03] wilkers-steve opened #258 "Introduce 'development mode' consistently across all charts"
**Is this a bug report or feature request?** (choose one):  Feature request

**Kubernetes Version** (output of `kubectl version`):  Any

**Helm Client and Tiller Versions** (output of `helm version`): Any

**Development or Deployment Environment?**:  Development

**Release Tag or Master**:

**Expected Behavior**:  Ability to consistently set flags across all charts for developer mode to control th

[2017-03-08 16:04] wilkers-steve commented on #258
I'll pick this up

[2017-03-08 16:07] v1k0d3n commented on #258
sounds good, it's yours. for item #111 that's already out there...are you going to take this on, or are we asking @intlabs to rebase one more time?

[2017-03-08 16:28] wilkers-steve commented on #258
@v1k0d3n, we can handle it however @intlabs wishes to -- if he'd like to walk it to completion, I'll exclude it from the work I'll submit against this issue.  If he'd like to avoid another rebase and not finish up #111, I'll add it to the list.

[2017-03-08 17:57] v1k0d3n opened #259 "misc: move all unfinished 0.2.0 milestone items into other milestones"
General cleanup work in order to make sure nothing falls through the cracks.

cc: @mcnanci

[2017-03-08 17:58] v1k0d3n commented on #259
completed.

[2017-03-08 17:58] #259 closed

[2017-03-08 18:57] wilreichert commented on #248
When it comes to supporting multiple distros, setting a single parameter makes a lot more sense than multiple volume overrides. Especially if there was a standard case pattern for dealing with the differences as they arise. Apache is likely the worst offender here but undoubtedly others distro diffs are present. Beyond vendoring, what about the case of native packaged vs. pip source installs placi

[2017-03-08 20:54] v1k0d3n commented on #204
@mcnanci are we using this, or do we want to move away from ZenHub? (want to know what to do with this issue as well).

[2017-03-09 17:51] larryrensing opened #260 "bug: nova-post job crashloop"
**Is this a bug report or feature request?** (choose one):

**Kubernetes Version** (output of `kubectl version`):
1.5.2
**Helm Client and Tiller Versions** (output of `helm version`):
2.1.3
**Development or Deployment Environment?**:
development
**Release Tag or Master**:
master
**Expected Behavior**:
nova jobs run to completion
**What Actually Happened**:
nova-post is stuck in a crashloop
**How t

[2017-03-09 21:24] wilkers-steve commented on #260
The logs indicate that the auth url is returning empty, so the ansible tasks to authenticate with keystone are failing.  This is failing because of how helm-toolkit handles looking up the various URI's for the services.  We can see the difference in a service that works, like [cinder](https://github.com/att-comdev/openstack-helm/blob/master/cinder/values.yaml#L159) for example.  Because nova's str

[2017-03-09 21:36] wilkers-steve commented on #260
Should have read "because novas endpoint values in values.yaml are named differently".  I'm not sure if we mention this in the docs, but would be a good piece to add to your docs tidying up and getting the community on the same page @v1k0d3n

[2017-03-09 22:32] larryrensing commented on #260
looks like @intlabs pull request for nova endpoints will fix this.

https://github.com/att-comdev/openstack-helm/compare/master...portdirect:0.2.%C3%9F/ks-endpoint-normalization-nova

[2017-03-09 22:34] wilkers-steve commented on #260
@larryrensing Yeah, it will.  We can go ahead and close this out

[2017-03-09 22:35] #260 closed

[2017-03-10 20:09] larryrensing opened #263 "feat: Chart to deploy Ceilometer"
**Is this a bug report or feature request?** (choose one):

Feature

**Kubernetes Version** (output of `kubectl version`):
n/a

**Helm Client and Tiller Versions** (output of `helm version`):
n/a

**Development or Deployment Environment?**:
n/a

**Release Tag or Master**:
master

**Any additional comments**
We would like to deliver a helm chart to deploy ceilometer

[2017-03-10 20:28] v1k0d3n commented on #263
@larryrensing, i'm assuming this is an 0.4.0 release,  or are you attempting to get in for 0.3.0?

[2017-03-10 20:37] wilkers-steve opened #264 "Determine how to handle development mode for Cinder"
**Is this a bug report or feature request?** (choose one):

**Kubernetes Version** (output of `kubectl version`): N/A

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**:  Development

**Release Tag or Master**:

**Expected Behavior**:

**What Actually Happened**:

**How to Reproduce the Issue** (as minimally as possible):

**Any Additio

[2017-03-10 20:39] #264 closed

[2017-03-10 20:40] wilkers-steve commented on #258
While working on developer mode for the remainder of the service charts, I realized I wasn't entirely sure how to handle a developer mode setting for Cinder (admittedly, I'm not too familiar with Cinder) outside of spinning up a different replica count with a development flag.

Is there a way to handle developer mode here with hostPaths or emptyDirs that makes sense? I know Cinder needs a backend/

[2017-03-10 21:28] wilkers-steve opened #266 "feat: Congress chart"
**Is this a bug report or feature request?** (choose one): feature

**Kubernetes Version** (output of `kubectl version`):

**Helm Client and Tiller Versions** (output of `helm version`):

**Development or Deployment Environment?**:

**Release Tag or Master**:

**Expected Behavior**:

**What Actually Happened**:

**How to Reproduce the Issue** (as minimally as possible):

**Any Additional Comments*

[2017-03-10 23:47] v1k0d3n commented on #266
sounds good. once we get into openstack @wilkers-steve, i'll create several blueprints for various roadmap items and this is all yours.

[2017-03-11 15:23] alanmeadows commented on #258
@wilkers-steve I think development mode might be a good place to leverage the "Fake" backend:

https://github.com/openstack-dev/devstack/blob/master/lib/cinder_backends/fake

which simply logs the requests and allows you to create resources.

The other alternative, offering slightly more functionality (e.g. you can write bits and attach it to VMs if we eventually get nova working in development mo

[2017-03-11 17:10] wilkers-steve commented on #258
@alanmeadows Thanks for the feedback.  I didn't know the Fake backend existed, so it's nice to learn something new. I think using Fake for now while working on future LVM support separately for developer mode might be a good approach. Since nova and cinder seem to require more work for true development mode, I think there might be some value in handling those separately. What are your thoughts?

[2017-03-11 17:16] alanmeadows commented on #258
I would do fake for both cinder, nova, and anything else that supports it (neuron I believe as well) as a phase one.

Phase two--separate future effort--and taking cinder as an example, would be using LVM over files or something similar as mentioned above.  Glance is a perfect example of something that's in 'Phase 2' right now.  You can actually store images in it because it supports simple file m

[2017-03-11 17:21] v1k0d3n commented on #258
so i would split this out into two phases, documenting each and creating issues (future blueprints) to cover each scenario, similar to what Alan is eluding too.

this is what I would like to see:

**phase I:**
* look for `fake` drivers for each of the projects (cinder and nova are good examples), and use that method to start with. this is a large portion of "phase I", because development mode acro

[2017-03-11 17:41] wilkers-steve commented on #258
@alanmeadows @v1k0d3n Thanks for the feedback. :+1:

[2017-03-12 16:13] v1k0d3n commented on #37
docs have been provided for the following:
* mission
* philosophy
* troubleshooting (started)
* images
* landscape or armada
* resources

i'm going to close this issue, as the general items are there, but follow-up issues (or future blueprints) can be created for more specific items. some future refactor work of docs is coming soon.

[2017-03-12 16:13] #37 closed

[2017-03-13 18:48] renmak opened #267 "Address Naming Convention for Entire Project"
**Is this a bug report or feature request?** (choose one): Feature request

**Kubernetes Version** (output of `kubectl version`): Any

**Helm Client and Tiller Versions** (output of `helm version`): Any

**Development or Deployment Environment?**: Development

**Release Tag or Master**:

**Expected Behavior**: Proper naming convention for entire project

**What Actually Happened**:

**How to Repro

[2017-03-13 18:49] renmak commented on #267
I can pick this up

[2017-03-13 20:33] v1k0d3n commented on #267
@renmak one other thing you could do while performing this sweeping change across all of the charts, is capturing issue #207 as well, but the links are stale. @intlabs can you update the links with what you want @renmak to update (example: [intended](https://github.com/att-comdev/openstack-helm/blob/8afa729ffba9378b76e63dfc282f16ecf1d9baa9/nova/values.yaml#L7-L8) vs. [current](https://github.com/a

[2017-03-13 21:46] v1k0d3n opened #268 "feat: create custom minikube iso for openstack-helm development use"
**Kubernetes Version** (output of `kubectl version`): N/A
**Helm Client and Tiller Versions** (output of `helm version`): N/A
**Development or Deployment Environment?**: N/A
**Release Tag or Master**: N/A
**Expected Behavior**: N/A
**What Actually Happened**: N/A
**How to Reproduce the Issue** (as minimally as possible): N/A
**Any Additional Comments**:

A few times now, developers have experience

[2017-03-13 21:46] v1k0d3n commented on #268
i'll pick this up.

[2017-03-13 21:49] v1k0d3n opened #269 "feat: add basic designate chart"
**Kubernetes Version** (output of `kubectl version`):  N/A

**Helm Client and Tiller Versions** (output of `helm version`):  N/A

**Development or Deployment Environment?**:  N/A

**Release Tag or Master**:  N/A

**Expected Behavior**:  N/A

**What Actually Happened**:  N/A

**How to Reproduce the Issue** (as minimally as possible):  N/A

**Any Additional Comments**:
another chart that we would li

[2017-03-13 21:49] v1k0d3n commented on #269
i'm picking this one up.

[2017-03-14 13:34] larryrensing opened #272 "feat: basic gnocchi chart"
**Is this a bug report or feature request?** (choose one):

**Kubernetes Version** (output of `kubectl version`):
N/A
**Helm Client and Tiller Versions** (output of `helm version`):
N/A
**Development or Deployment Environment?**:
N/A
**Release Tag or Master**:
0.3.0

**Any Additional Comments**:
Gnocchi is the only community supported backend for ceilometer.

[2017-03-14 13:35] larryrensing commented on #272
@v1k0d3n i'm working on this atm

[2017-03-14 13:36] v1k0d3n commented on #272
this is for 0.4.0, right?

[2017-03-14 16:04] larryrensing commented on #272
my mistake, yes it's for 0.4.0

[2017-03-14 18:52] renmak commented on #267
@v1k0d3n @alanmeadows
Can you guys provide more information on this feature/issue? Need to understand what needs to be done here. thanks

[2017-03-15 06:17] renmak commented on #207
@v1k0d3n @alanmeadows
I can take on this.

So just to clarify, nova uses **proper** label key and value
**control_node_selector_key**: openstack-control-plane
**control_node_selector_value**: enabled

This change should be rolled out to other charts. This is basically find and replace occurrence of
**node_selector_key**: openstack-control-plane
**node_selector_value**: enabled

Please confirm. Tha

[2017-03-15 13:26] larryrensing commented on #255
fixing this @v1k0d3n

[2017-03-15 14:50] wilkers-steve opened #277 "bug: Default node port value in Horizon values.yaml invalid"
**Is this a bug report or feature request?** (choose one): Bug

**Kubernetes Version** (output of `kubectl version`): v1.5.1

**Helm Client and Tiller Versions** (output of `helm version`): 2.2.2

**Development or Deployment Environment?**: Development

**Release Tag or Master**: Master

**Expected Behavior**: Enable node port in horizon's values.yaml and access horizon

**What Actually Happened**

[2017-03-15 15:01] wilkers-steve opened #278 "bug: Horizon authentication not working"
**Is this a bug report or feature request?** (choose one): bug

**Kubernetes Version** (output of `kubectl version`):

**Helm Client and Tiller Versions** (output of `helm version`):

**Development or Deployment Environment?**:

**Release Tag or Master**: master

**Expected Behavior**: Should be able to authenticate with horizon

**What Actually Happened**:  Cant authenticate with horizon.  OPENST

[2017-03-15 15:14] intlabs commented on #255
@larryrensing thanks dude :)

[2017-03-15 15:16] intlabs commented on #207
@renmak That naming convention works for me. Note that Neutron will also need some work to bring it in line as well.

[2017-03-15 15:21] #278 closed

[2017-03-15 15:21] v1k0d3n commented on #277
merged #279. resolved.

[2017-03-15 15:30] wilkers-steve commented on #277
This issues unrelated to #279, but still a quick enough fix.  We could have @larryrensing tackle it as part of his broader node port changes

[2017-03-15 15:33] v1k0d3n commented on #277
sorry @wilkers-steve i was looking at another issue and accidentally closed this one (#278/#279). reopened.

[2017-03-15 15:34] wilkers-steve commented on #277
@v1k0d3n no worries. it happens :)

[2017-03-15 17:20] intlabs commented on #177
@gardlt @v1k0d3n Is this still being planned for 0.3.0? I think it may make more sense to introduce a chart of this scope and magnitude after moving to OpenStack infra?

[2017-03-15 17:25] intlabs commented on #178
@stannum-l For dev/testing and initial development, it may make sense to use the docker backend: https://docs.openstack.org/developer/manila/devref/container_driver.html. If you need a hand with any of this feel free to give me a holler.

[2017-03-15 17:44] wilkers-steve commented on #267
@renmak, this would involve finding a "standard" name to use for common fields/types across all charts. As @v1k0d3n mentioned, #207 captures standardizing the node label names.  There may be other fields/types that multiple charts use that could be standardized as well.

[2017-03-15 18:12] renmak commented on #267
@wilkers-steve Ah i see. K Then let me first start with #207 and will focus on other fields/types later on. Thanks for clarification.

[2017-03-15 19:31] chadswen opened #283 "feat: Helm with K8S Federated API"
**Feature Request**:
Logging this here per @v1k0d3n's request. Does Helm Tiller work with a federated Kubernetes control plane?

[2017-03-15 21:27] v1k0d3n commented on #30
i don't see this having a place in this repository. i'm going to close this and add the issue to openstack-helm-addons.

[2017-03-15 21:27] #30 closed

[2017-03-15 22:35] v1k0d3n commented on #32
we can track this as a larger issue, but it is unrelated to a release...so the issue is going to be closed for now.

[2017-03-15 22:35] #32 closed

[2017-03-15 22:36] v1k0d3n commented on #35
@larryrensing reaching out again on this issue. *nudge*

[2017-03-15 22:40] v1k0d3n commented on #36
this will be part of future openstack-helm docs (in openstack proper). added to roadmap document.

[2017-03-15 22:40] #36 closed

[2017-03-15 22:42] v1k0d3n commented on #54
this work has been completed:

- [x]: minikube development mode is enabled.
- [x]: release cycle has been addressed (until we go in openstack and follow an openstack release cycle.

[2017-03-15 22:42] #54 closed

[2017-03-15 22:45] v1k0d3n commented on #81
@intlabs i think this is still being fleshed out a bit. it still needs formally reviewed. i will start to look at some methods i think will be appropriate for us later tonight. i want to take a stab at this, and will present something very soon. assigning myself.

[2017-03-15 23:15] v1k0d3n commented on #192
i think this issue is resolved, and we're having other new issues with minikube and older versions of kube under v1.5.3. going to close out this issue @intlabs in favor of tracking this as a side kubernetes item. i've gotta think of some ways to monitor dependencies on minikube, but i'd like to think that having our own ISO would help with this some (at least this specific problem).

[2017-03-15 23:15] #192 closed

[2017-03-15 23:15] v1k0d3n commented on #159
@wilkers-steve none. closing.

[2017-03-15 23:15] #159 closed

[2017-03-15 23:17] v1k0d3n commented on #153
@larryrensing i think this is all done really. true?

[2017-03-15 23:17] v1k0d3n commented on #191
closed out the PR and will reopen when we're in openstack proper. closing issue.

[2017-03-15 23:17] #191 closed

[2017-03-15 23:32] v1k0d3n opened #286 "feat: ceph chart improvements for real disks"
**Kubernetes Version** (output of `kubectl version`): N/A
**Helm Client and Tiller Versions** (output of `helm version`): N/A
**Development or Deployment Environment?**: N/A
**Release Tag or Master**: N/A
**Expected Behavior**: N/A
**What Actually Happened**: N/A
**How to Reproduce the Issue** (as minimally as possible): N/A
**Any Additional Comments**:

Unfortunately some work was dropped for cep

[2017-03-15 23:39] v1k0d3n commented on #187
I'm not really sure we need this anymore at least in consideration of Travis. going to close and track.

[2017-03-15 23:39] #187 closed

[2017-03-15 23:42] v1k0d3n commented on #100
going to say that this is closed, however we need to do some further work to nail down the dependency on etcd. this takes us a bit off what we do today. this would normally be handled as *part of* the chart (as an init-container), rather than another chart.

[2017-03-15 23:42] #100 closed

[2017-03-15 23:52] intlabs commented on #81
Awesome, would be good to get this together as a cohesive picture :) I think that the work @alanmeadows is doing as part of https://github.com/att-comdev/openstack-helm/pull/262 and the Kesytone Endpoint work we just merged goes a huge way toward this goal.
Off the top of my head only really Image Tags & Pull Policy along with Resouces (Replicas & RAM/CPU allocation) from the original set of bulle

[2017-03-16 00:06] v1k0d3n commented on #204
i think we can close this issue now Nancy.

[2017-03-16 00:06] #204 closed

[2017-03-16 07:14] v1k0d3n commented on #209
looking over this a bit more this evening, it's becoming pretty clear that pulling MaaS and Postgres out of the repo requires much deeper thought/discussion. both, but especially MaaS are married to helm-toolkit. i'm not sure that this should really be the approach. it's really just a different way to handle dependencies, but our way carries more debt. aren't we trying to release debt by eventuall

[2017-03-16 11:47] v1k0d3n commented on #283
so the quick answer to your question is yes; [it does  support federation](https://github.com/kubernetes/helm/blob/df827ab738ef1d6dd1e03fb0554b313a9a7d757b/glide.lock#L308-L314). the main reason i wanted this as an issue is to more deeply make sure the following are covered:

[ ] - ensure which deployment `kinds` are supported with tiller/helm federation (are there limits that impact us)
[ ] - ens

[2017-03-16 12:17] intlabs commented on #209
@v1k0d3n That works for me, though itself comes with debt, in a classic tradeoff:
 - helm-toolkit removes the debt of having to maintain a common set of functions across multiple charts and ensures consistency, but means we need to carry it about.
 - a `_helpers.tpl` in each chart removes the debt of having to carry that dep around, but re-introduces the burden of having to maintain functions and

[2017-03-16 12:45] v1k0d3n commented on #209
@intlabs yup i agree with that. it really depends on what we see with the future of MaaS and how deep this will go (on the AT&T side, quite a bit). but that also may make it a *questionable* candidate for kubernetes/charts (i would imagine) if it continues down the `helm-toolkit` path. i'm just thinking out loud here...

[2017-03-16 15:53] wilkers-steve commented on #286
I could take a look at this one.  After working with Cinder a bit, I think it'd be helpful for me to look into some of the Ceph bits.  What are your thoughts, @v1k0d3n?

[2017-03-16 18:59] renmak commented on #267
@alanmeadows @intlabs @v1k0d3n

I was reviewing values.yaml of neutron and notice that how we define labels is not consistent with other charts.
1) Neutron's nested labels
labels:
  ovs:
      node_selector_key: openvswitch
      node_selector_value: enabled
  agent:
    dhcp:
      control_node_selector_key: openstack-control-plane
      control_node_selector_value: enabled
  ...
2) Other charts

[2017-03-17 14:25] wilkers-steve commented on #258
After chewing on this issue some more, I think we should revisit which charts we target with development mode.  With glance being the exception, current development mode for our charts would just be limiting replicas of the services to 1.

Some of the services discussed here make sense (ie: storage options currently to eliminate reliance on ceph), but outside of that -- is there a real, pressing n

[2017-03-17 15:24] v1k0d3n commented on #286
unless you don't have anything else to do @wilkers-steve, I'm trying to leave some starter items for community members to get their feet wet.

[2017-03-17 15:25] wilkers-steve commented on #286
Works for me.  The LVM work we discussed yesterday has kept me busy

[2017-03-20 00:35] #255 closed

[2017-03-20 13:23] wilkers-steve opened #293 "feat: Add support for Cinder LVM backend"
**Is this a bug report or feature request?** (choose one): feature request

**Kubernetes Version** (output of `kubectl version`):

**Helm Client and Tiller Versions** (output of `helm version`):

**Development or Deployment Environment?**: Both

**Release Tag or Master**:

**Expected Behavior**:

**What Actually Happened**:

**How to Reproduce the Issue** (as minimally as possible):

**Any Additio

[2017-03-20 13:46] #239 closed

[2017-03-20 13:53] larryrensing commented on #153
With the current state of maas, users provide their own secret in values.yaml.  There isn't any secret generation performed if one isn't provided.

[2017-03-20 14:04] v1k0d3n commented on #153
so let's do this: let's track the issue in [openstack-helm-adds](https://github.com/att-comdev/openstack-helm-addons). once MaaS and PostgreSQL are [merged](https://github.com/att-comdev/openstack-helm-addons/pull/4) into the repo, then we can complete work for [this pull request](https://github.com/att-comdev/openstack-helm-addons/issues/5) and track *the auto generation* of secrets in some other

[2017-03-20 14:04] #153 closed

[2017-03-20 14:12] #195 closed

[2017-03-20 14:23] krrypto opened #295 "ovs-vswitchd container configured to use interfaces 'enp11s0f0' and 'enp12s0f0'"
**Is this a bug report or feature request?** (choose one):
bug report

**Explanation**
Compute nodes are with interfaces eth0,eth1,eth2,eth3 ie with biosdevname=0 .Hence ovs-vswitchd container  bridges are  not configured correctly.
Its expecting interface name to be
enp11s0f0 and enp12s0f0
kubectl exec ovs-vswitchd-xzqsc  -n openstack -- ovs-vsctl list-ports br-physnet1
**enp11s0f0**
phy-br-physn

[2017-03-20 14:29] v1k0d3n commented on #295
to be clear for any members that pick this up, this is mainly a documentation request as `values.yaml` are can be overridden. we *do* want to pick some potentially more interfaces that are more "sane" than `enp11s0f0` and `enp12s0f0`, and document where `physnet` is coming from.

[2017-03-20 15:39] andrecolin commented on #248
@wilreichert are you still working on this?

[2017-03-20 18:30] renmak commented on #186
Another option would be via Stolon: https://github.com/sorintlab/stolon

[2017-03-20 18:38] v1k0d3n commented on #186
FYI: we need to move this discussion to [openstack-helm-addons](https://github.com/att-comdev/openstack-helm-addons) going forward.

[2017-03-21 04:28] wilreichert commented on #248
I was holding off until #262 is merged since that would resolve a number of the mount issues. I'm happy to do a WIP PR to address Horizon though.

[2017-03-21 07:54] masterdubs commented on #186
Maybe we can use this : https://github.com/lwolf/stolon-chart/tree/master/stolon

[2017-03-21 11:18] v1k0d3n commented on #209
maas and postgresql have been moved out of the repo, and are in openstack-helm-addons. issues have been created to covert to a `_helpers.tpl` for maas and postgresql in that repo. i think the move of ceph, rabbit, memcached really needs to be discussed in more depth, as i would personally prefer to keep these with the other charts as we head towards openstack proper so that the project is "complet

[2017-03-21 11:18] #209 closed

[2017-03-21 11:50] v1k0d3n commented on #95
fixed as part of #296.

[2017-03-21 18:46] larryrensing opened #297 "feat: Finish NodePort assignment for remainder of services"
**Is this a bug report or feature request?** (choose one):
Feature request

**Development or Deployment Environment?**:
Both
**Release Tag or Master**:
0.3.0/master

**Expected Behavior**:
Services should have a boolean to expose a NodePort for the service.

**Any Additional Comments**:
A standardized template for how we want to format the values.yaml has been decided [here](https://github.com/att

[2017-03-22 02:20] krrypto opened #298 "ovs-db not in sync with neutron/values.yaml"
**Is this a bug report or feature request?** (choose one):
bug report

**Kubernetes Version** (output of `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Majo

[2017-03-22 06:07] krrypto opened #299 "bug: "OPENSTACK_KEYSTONE_URL =" missing from horizon configuration hence not able to login to horizon with keystone credentials."
**Is this a bug report or feature request?** (choose one):
bug

**Kubernetes Version** (output of `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.

[2017-03-22 11:00] intlabs commented on #299
I cannot reproduce this with the current `master`, ( https://paste.fedoraproject.org/paste/ot668lx4Pqbh6zrOHuy9PF5M1UNdIGYhyRLivL9gydE=/raw ) could someone else confirm this?

[2017-03-22 11:55] krrypto commented on #299
issue affects committ 3e62cd54e2751afa7cfd2cf0a2ae910e43e25385 and is working on latest committ

[2017-03-22 11:55] #299 closed

[2017-03-22 12:34] intlabs commented on #298
@krrypto This is expected behavior at present and is a classic engineering tradeoff:
 We store the ovsdb on a tmpfs mounted from the host into the pod (`/run`), this lets us maintain state of OvS during upgrades/pod restarts. However, this means that if you change a large/significant configuration that you will either need to manually intervene (eg run a job on all nodes, or ssh fun..) or simply r

[2017-03-22 12:39] intlabs commented on #295
We should perhaps consider changing these to old style device names e.g. `eth0` etc in the defaults when updating the documentation.

[2017-03-22 12:42] v1k0d3n commented on #295
@intlabs already planning on it.

[2017-03-22 15:45] alraddarla commented on #297
I'll take this one.

[2017-03-22 18:46] v1k0d3n commented on #248
i'm going to push this item out for a future roadmap (by then we'll be in openstack proper, @wilreichert). but to address what you're asking for is going to take some planning. i'll be looking for some input on #262 from you, once you've had a chance to cut into it.

[2017-03-22 18:47] v1k0d3n commented on #194
i think this is a future roadmap item. moving out of 0.3.0.

[2017-03-22 18:49] v1k0d3n commented on #286
@larryrensing i'm assuming you're taking this?

[2017-03-22 18:51] v1k0d3n commented on #178
hey @stannum-l just checking here on the status of this one?

[2017-03-22 18:57] stannum-l commented on #178
I am planning to resubmit a new PR with changes by @intlabs incorporated.  I got the dry run to pass by moving part of @intlabs's helm-toolkit changes into that old PR.  Also, I have to add @larryrensing's suggestions of using the resource limit.

[2017-03-22 20:08] RichWellum commented on #286
I was going to look at this too as a 'cut your teeth' item - but happy to take something else too.

[2017-03-22 20:32] RichWellum commented on #196
I'd be interested in looking at this - seems like a good starter/learning point.

[2017-03-22 20:39] intlabs commented on #96
Renaming to something like 'ceph-pvc-volumeclass' makes sense to me.

[2017-03-22 21:06] #257 closed

[2017-03-23 01:39] v1k0d3n commented on #96
@intlabs exactly along the lines of what i'm suggesting. i was thinking about `ceph-storageclass-boostrap` or something similar honestly.

[2017-03-23 04:38] wilreichert commented on #297
I assume the use case for this is an external LB? Would it be possible to implement this in a way so that it's possible to let kubernetes dynamically choose the port from the service port block? Managing sets of ports for every deployed OpenStack environment seems like a lot of manual overhead for an otherwise automated workflow. And chances are whatever you have driving your ingress / LB controll

[2017-03-23 07:32] wilreichert commented on #201
So as a matter of consistency is it worth applying a similar approach to the keystone chart? We've been discussing this & can see pros and cons either way. Adding bootstrap functionality means that now there's been an arbitrary determination of 'mandatory' and 'optional' configurations. One _needs_ a nova user for a functioning system but it will operate fine without a cirros image loaded. UNLESS

[2017-03-23 08:56] #298 closed

[2017-03-23 12:47] intlabs commented on #297
Totally agree with @wilreichert . The only use case I can see for this is when the service is behind an external LB. Considering such an environment is likely to be managed, rather than specifying a "new" port or range to use - why not simply map the default 1:1 with the existing service port? This would mean that in a cluster with a wide service port range (eg 1-65xxx) then the service could just

[2017-03-23 13:19] v1k0d3n commented on #297
yeah @wilreichert, @intlabs and i were talking about this last night, @intlabs i think that what we should really do is discuss this thoroughly and publicly here (so @alraddarla can see/understand the intent), and then make the appropriate changes to what @larryrensing has already submitted. this way, we're modifying the controlled introduction of the concept, throwing it on the wall and taking in

[2017-03-23 14:29] v1k0d3n commented on #268
@mcnanci this is really paused in favor of an issue that @intlabs said he would pick up: offering a new alternative development environment, that moves us away from minikube. i wouldn't say that this issue is blocked really, but there's no need to do work against it while the other effort is going on. there is no issue created for the new development alternative effort, but it is actively being ex

[2017-03-23 14:34] v1k0d3n commented on #295
i think it goes a bit beyond just documentation though. i really think that the interfaces used currently (`enp11s0f0` and `enp11s0f0`) are terrible examples (they were PoC for our use-case). i think we can edit `values.yaml` for more sane defaults (`eth0` and `eth1` or perhaps even `eth2`). i'm working on the issue, and testing in a lab that actually has these interfaces set up.

[2017-03-23 15:14] chinasubbareddym opened #303 "ceph volume creation failed with "rbd: create volume failed, err: exit status 22""
**Is this a bug report or feature request?** (choose one):
bug

**Kubernetes Version** (output of `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2017-03-23 15:57] wilreichert commented on #297
The biggest differences running kubernetes on metal vs. cloud are persistent storage and network. Storage is a solved issue with with lots of great options, network not so much. The official documented approach is the ingress API yet I don't think I've met a single person who would recommend using it. The design is fine, but the limited feature set and L7 only limitations are rather prohibitive. S

[2017-03-23 18:47] intlabs commented on #297
@wilreichert I've run many OpenStack services behind ingress controllers with some success. This has been using the exact methodology you propose for a long term goal (in my previous Harbor Project), and a quick prototype I made in January with OSH.

Your assessment of the options for exposing K8s services to the world is spot on in my opinion, and this PR should be about addressing option 2 above

[2017-03-23 20:35] #230 closed

[2017-03-24 18:16] v1k0d3n commented on #303
@chinasubbareddym we might need to troubleshoot some of this with you. i took ceph from master and was able to turn it up. can you find us on either IRC #openstack-helm or Kubernetes Slack (channel is #openstack-helm). we have plenty of people willing to help you through this.

[2017-03-25 09:21] wilreichert commented on #297
Would that work? Node ports are limited to a specific high range, default is 30000 - 32767. Its usually recommended to use port proxies & host ports via a pod if you want 1:1 port mappings. I like the simplicity your plans suggests though.

[2017-03-25 15:28] krrypto commented on #303
@chinasubbareddym  makesure kube-controller-manager-<hostname> is pointing to kube-DNS
kubectl exec -n kube-system kube-controller-manager-k8controller -ti -- /bin/bash

echo dnsip > /etc/resolv.conf
echo search svc.cluster.local >>  /etc/resolv.conf

[2017-03-25 15:37] krrypto opened #305 "doc: neutron agents node also need to be labelled with openvswitch"
**Is this a bug report or feature request?** (choose one):
bug

**Kubernetes Version** (output of `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2017-03-25 20:27] wilkers-steve commented on #297
@wilreichert The node port range is set by a flag on kube-apiserver.  For development, this would work perfectly while allowing operators to specify any value they require for production.

[2017-03-25 20:28] #95 closed

[2017-03-27 10:18] wilreichert commented on #297
yep yep.  But now you've added additional configuration constraints on their kubernetes installation, set a bad precedent, and created risk of port conflict for any service not specifically mapped to a port. =)

I'd much rather implement something like [proxy-to-service](https://github.com/kubernetes/contrib/tree/master/for-demos/proxy-to-service). That said, I don't wanna be a roadblock here. If

[2017-03-27 12:20] v1k0d3n commented on #297
i do absolutely agree with that point, which is my main hesitation for mapping a 1-to-1 NodePort declaration in our Charts. fact is, it's something that we want to offer, but will recommend and configure otherwise (in favor of a solid ingress implementation). this was the reason for continuing with a simple default NodePort definition, expanding on what @larryrensing had started. i think we can lo

[2017-03-27 15:09] wilkers-steve opened #306 "bug: Unable to pull image for rabbitmq"
**Is this a bug report or feature request?** (choose one): bug

**Kubernetes Version** (output of `kubectl version`): 1.5.2

**Helm Client and Tiller Versions** (output of `helm version`): 2.2.3

**Development or Deployment Environment?**: Development

**Release Tag or Master**: Master

**Expected Behavior**: Running `helm install --name=rabbitmq local/rabbitmq --namespace=rabbitmq` should result

[2017-03-27 15:21] intlabs commented on #306
Confirmed, it appears that the entire MCP registry has either moved or been removed.

[2017-03-27 15:24] intlabs commented on #306
I have published an image at: `docker.io/port/fuel-mcp-rabbitmq:ocata-unstable` that we can use as a workaround until this is resolved.

[2017-03-27 15:25] wilkers-steve commented on #306
Thanks @intlabs

[2017-03-28 07:08] ss7pro commented on #246
Really good analysis. Evaluating clustering backends for autocluster plugin we (Intel) have implemented native support for k8s (https://github.com/aweber/rabbitmq-autocluster/blob/master/src/autocluster_k8s.erl) but we withdrawn our support for that as Mirantis did full investigation of clustering methods. Result of their research is reflected in multiple improvements to etcd clustering backend, w

[2017-03-28 08:08] chinasubbareddym commented on #303
@krrypto  , Thanks,  it worked after correcting dns ip
this might be broken , because we built the controller-manager  pod from att repos  for rbd package .

[2017-03-28 08:09] #303 closed

[2017-03-28 12:07] v1k0d3n commented on #303
@chinasubbareddym are you referring to the image at: https://quay.io/repository/attcomdev/kube-controller-manager?tab=tags ?

the controller manager + ceph requires dns to be configured correct; meaning that kube-dns needs to be resolvable at both the pod level, and host level. we tried to capture this in our installation guide for bare metal: https://github.com/att-comdev/openstack-helm/blob/mast

[2017-03-28 16:30] #306 closed

[2017-03-29 15:13] v1k0d3n commented on #295
a community member @RichWellum has offered to look into and pick this one up. leaving it assigned to myself so he can work this item.

[2017-03-29 15:31] jeffaugustine commented on #201
@larryrensing pointed this out as something I could look at in Openstack-Helm. Following his Nova and Glance PR as examples I have been working on a Cinder bootstrap and learning the Helm development process through it. Once I wrap my head around one I hope to knock them out fast.

[2017-03-29 15:50] v1k0d3n commented on #268
closing in favor of #dockerfiles/#76 and #304 .

[2017-03-29 15:51] #268 closed

[2017-03-30 07:38] wilreichert opened #310 "multi-instance openstack neutron charts fail when referencing the same /run hostpath"
All the neutron openvswitch related daemonsets use a /run hostPath to share openvswitch's conf.db.  When running multiple openstack systems on the same kubernetes cluster this fails when the second system hits the .conf.db.\~lock\~ & dumps something like this into the host logs
[code]

This seems like a good place to leverage the 'developer' flag & mount a shared volume in a clustered environment.

[2017-03-30 09:09] dulek opened #311 "Setting ceph['enabled'] = false in glance/values.yaml has no effect"
**Kubernetes Version** (output of `kubectl version`):
1.5.3

**Helm Client and Tiller Versions** (output of `helm version`):
2.2.3

**Development or Deployment Environment?**:
Development

**Release Tag or Master**:
master

**Expected Behavior**:
setting ceph.enabled = false should remove rbd from glance-api.conf

**What Actually Happened**:
It's still configured there, so without Ceph image uploa

[2017-03-30 12:12] wilreichert commented on #310
Started digging through the neutron chart some more & realized that with the host networking mode it'll take more than just move an altered /run to have multiple openstack clouds running on the same hardware. Was the intention just to run a single cloud on a kubernetes cluster or is it expected that the operator will apply the appropriate labels such than nodes never overlap? And is 2 network inte

[2017-03-31 03:01] tobybot11 opened #315 "doc: minkube.md: maridb chart failing cuz pull of image was failing cuz no quay.io creds"
**Is this a bug report or feature request?** (choose one):
bug/missing aspect in docs/development/minikube.md

**Kubernetes Version** (output of `kubectl version --short`):
Client Version: v1.5.5
Server Version: v1.5.3

**Helm Client and Tiller Versions** (output of `helm version --short`):
Client: v2.2.3+g1402a4d
Server: v2.2.3+g1402a4d

**Development or Deployment Environment?**:
development / M

[2017-03-31 11:49] v1k0d3n commented on #315
hey @tobybot11! :)

that's really strange behavior, as there should be no login required in fact to pull that image. which image is this triggering on exact? our images are pulling from a couple of sources, so it would be helpful to know if this is on mariadb (which is coming from `quay.io/stackanetes`) or on an image like our `kube-controller-manager` which we can work with on our side. curious,

[2017-03-31 12:49] intlabs commented on #310
@wilreichert Running more than one OpenStack deployment per node is possible (though not with OpenStack-helm as written), but is usually a recipe for a bad time. The agents expect full unfettered access to a hosts resources, and so can often conflict wit each other - the simplest and most obvious example being nova-compute, which has no method for accounting for resources potentially consumed by o

[2017-03-31 14:40] tobybot11 commented on #315
Given the sequence of instructions, I didn't test this issue beyond mariadb and it's image from `quay.io/stackanetes` referred to as `quay.io/stackanetes/stackanetes-mariadb:newton)`.  Once I use `docker login quay.io` in minikube for mariadb, I didn't have this problem with the rest. I'm using the default docker & quay registries and docker container runtime.

Issuing just `docker login` interact

[2017-03-31 15:07] tobybot11 commented on #315
At this point, when I do `docker logout` of the quay.io registry in either (osx or in minikube ssh) I'm able to `docker pull` of the mariadb image from quay.io. Even after removing all remnants of my creds from .docker/config.json or the osxkeychain I am still able to pull from quay.io. Also, I blew away minikube and started from scratch .. and didn't have the issue .. odd.

[2017-03-31 15:08] tobybot11 commented on #315
I'll close this issue until I can reproduce it again.

[2017-03-31 15:08] #315 closed

[2017-03-31 18:33] gardlt opened #317 "feat: charts - readjusting default values"
**Is this a bug report or feature request?** (choose one): feature

**Kubernetes Version** (output of `kubectl version`): 1.6.*

**Development or Deployment Environment?**: both

**Release Tag or Master**: master

**Any Additional Comments**:

While working on deploying the charts in my dev environment, I have been encountering issues with resources limitations using the OSH vagrant. While debuggi

[2017-03-31 20:12] renmak commented on #267
Just to share update. As part of Issue #207 (PR #302) code change, i have updated Nova's values.yaml to align with Neutron. We will create other issues for charts that also needs naming standardization.

[2017-03-31 20:22] renmak commented on #267
Following charts (value.yaml) needs to be updated to align with Nova and Neutron.

A) For these charts, Labels needs to be separated (just like replicas) to achieve parity with Nova & Neutron

1) **Cinder**
replicas:
  api: 1
  volume: 1
  scheduler: 1

labels:
  node_selector_key: openstack-control-plane
  node_selector_value: enabled

Similarly these charts also needs to be updated: **Ceph, Glan

[2017-03-31 23:36] #277 closed

[2017-04-03 04:14] bluejayKR commented on #310
@intlabs For production deployment, I totally agree that running more than one OpenStack deployment per node is a bad scenario. However, if you think a use case for CI/CD, running multiple OpenStack deployment per kubernetes cluster does happen. It would be really beneficial if openstack-helm can have a structure to choose to run multiple OpenStack deployments on a kubernetes cluster. Having said

[2017-04-03 09:32] powerds opened #320 "feat: Support to choose plugins"
**Is this a bug report or feature request?** (choose one): feature request

**Kubernetes Version** (output of `kubectl version`):

**Helm Client and Tiller Versions** (output of `helm version`):

**Development or Deployment Environment?**:

**Release Tag or Master**:

**Expected Behavior**:

**What Actually Happened**:

**How to Reproduce the Issue** (as minimally as possible):

**Any Additional C

[2017-04-03 11:01] v1k0d3n commented on #317
@gardlt would this not be covered with an inline Helm install override at the time of deployment (i.e. `--set volume.size=1Gi`)?

[2017-04-03 11:30] dulek opened #321 "feat: Support Cinder multibackend configs."
**Is this a bug report or feature request?** (choose one): feature

A single cinder-volume service is able to handle multiple volume backends. To make sure openstack-helm can be used with any Cinder-supported storage hardware/driver we should extend Cinder's charm to handle configuring any backend.

[2017-04-03 11:37] v1k0d3n commented on #321
this the same as #321? @wilkers-steve has a PR in currently that will bring LVM (#300), and this will ultimately take advantage of the work that @alanmeadows has done in #262, which I mentioned in your recent Cinder PR.

[2017-04-03 11:41] dulek commented on #321
Thanks, I'll make sure this have the shape to fit @wilkers-steve and @alanmeadows efforts.

[2017-04-03 13:27] intlabs commented on #317
@v1k0d3n I think it would be best to reduce this value to a sane default - 20Gb is an arbitrary amount and is likely to be tailored to fit for production deployments.

[2017-04-03 14:16] v1k0d3n commented on #317
@intlabs and @gardlt it is arbitrary, i agree, however the defaults are intended to be "production ready" *first*, and can be overridden for development purposes *second*. in fact, we can modify this in the vagrant development environment that you started, but I'm against building devstack focused charts by default. i'm sure that @alanmeadows will agree on this approach, since it's the very approa

[2017-04-03 15:10] v1k0d3n opened #323 "bug: fix links in docs"
some of the documentation links are broken. i am going to work on fixing these today.

[2017-04-03 18:36] gardlt commented on #317
Why would we not want to drive for a devstack default vars?

[2017-04-03 20:01] powerds commented on #320
@v1k0d3n thanks. but it looks there's some difference between cinder multi backend function (#300) and neutron agent plugin function on openstack-helm. because in cinder case, there's no change of k8s resources. the cinder configuration acts in cinder-volume deployment so it's enough to fix cinder.conf. but in neutron case,  ovs-agent, ovs-db, ovs-vswitchd daemonsets should be not deployed when we

[2017-04-04 00:35] v1k0d3n commented on #317
@gardlt because then we would be going back on the goal from the onset. production is first class, development is second class. that's always been the case. plus, this is extremely easy to override. i guess i'm failing to understand why we need a "feature request" to change an value that can be overridden. as it is, we need to increase our default replica counts (which is also per the documentatio

[2017-04-04 00:39] v1k0d3n commented on #317
remember, we've talked about this already. devstack, and even our production deployments are going to be coming from armada. so the way i see it, as soon as armada can handle these overrides...the question on whether or not to devstack *first* and lower default values is put to rest.

[2017-04-04 12:36] dulek opened #324 "Nova installation fails with "invalid character 'e' in literal true (expecting 'r')""
**Kubernetes Version** (output of `kubectl version`):
1.5.3

**Helm Client and Tiller Versions** (output of `helm version`):
2.2.3

**Development or Deployment Environment?**:
Devel

**Release Tag or Master**:
master

**Expected Behavior**:
Nova chart installs without problems.

**What Actually Happened**:
[code]

**How to Reproduce the Issue** (as minimally as possible):
On current master try to

[2017-04-04 14:35] #324 closed

[2017-04-04 14:35] v1k0d3n commented on #324
fixed in #325. thanks for the PR @dulek

[2017-04-04 15:15] #317 closed

[2017-04-04 16:27] renmak opened #326 "Standardize Labels (name:value pair) & Replica to align with other charts"
**Is this a bug report or feature request?** (choose one): Mixed; depends on perspective

**Kubernetes Version** (output of `kubectl version`): N/A

**Helm Client and Tiller Versions** (output of `helm version`): N/A

**Development or Deployment Environment?**: N/A

**Release Tag or Master**:

**Expected Behavior**:
As a developer and operator, it would be desirable to have standardized value.yaml

[2017-04-04 16:28] renmak commented on #267
@v1k0d3n @alanmeadows @wilkers-steve
Created a new issue for above charts #326

[2017-04-04 16:30] renmak commented on #326
Created this new issue to track pending standardizing work.

Following are previous issues related to this issue
#267
#207

[2017-04-04 17:18] renmak commented on #323
Brandon,
As i mentioned in Slack, here are few other issues that i found.

1) In guide, we are suggesting to use latest Minikube version (in my case v0.17.1). With this version of Minikube, i was not able to use Kubernetes v1.5.1.
I ended up using v1.5.3

2) Also in guide, we have following instruction

# Get a list of the current tags:
git tag -l

# Checkout the tag you want to work with (use mas

[2017-04-04 18:02] #297 closed

[2017-04-04 21:23] #323 closed

[2017-04-04 21:42] v1k0d3n commented on #186
new issue created in [openstack-helm-addons #7](https://github.com/att-comdev/openstack-helm-addons/issues/7)

[2017-04-04 21:42] #186 closed

[2017-04-04 22:31] v1k0d3n commented on #266
not on the roadmap until 0.6.0+. this can be closed out, as we should be in openstack at that time.

[2017-04-06 13:44] intlabs opened #329 "clean: refactor helm-toolkit paths"
**Is this a bug report or feature request?** (choose one): cleanup / enhancement

**Release Tag or Master**: Master

**Expected Behavior**: Paths/Tags in Helm-Toolkit are more closely tied to the function they serve.

**What Actually Happened**:
Paths and tags in Helm-Toolkit are currently not as clearly referenced as they should be.

**Any Additional Comments**:
By restructuring helm-toolkit it s

[2017-04-06 16:20] v1k0d3n opened #330 "kubeadm 1.5 binaries removed from upstream apt sources"
**Kubernetes Version** (output of `kubectl version`): 1.5.x

**Helm Client and Tiller Versions** (output of `helm version`): 2.x

**Development or Deployment Environment?**: All

**Release Tag or Master**: All

**Expected Behavior**: That kubeadm could be used to stand up a cluster for development and semi-production testing.

**What Actually Happened**: kubeadm does not work as documented in our

[2017-04-06 21:07] wilkers-steve commented on #266
@v1k0d3n Sounds good man

[2017-04-06 21:07] #266 closed

[2017-04-06 21:08] wilkers-steve commented on #263
@larryrensing Going to close this out, since we'll be in OpenStack before 0.4.0.  We can open up a blueprint and track it once we make our move.

[2017-04-06 21:08] #263 closed

[2017-04-06 21:17] #201 closed

[2017-04-06 21:52] wilkers-steve commented on #326
@renmak Thanks for tracking your work and thinking about services outside of what you've tackled in nova.  In regards to standardizing our charts, I think nova and neutron were the only two that needed special consideration.  That need arose out of both services having some components that run on the control plane and some components that run on the compute nodes.

I don't think we should define a

[2017-04-07 15:10] wilkers-steve commented on #295
I haven't seen much activity on this from @RichWellum.  We can work on tidying this up once we move into OpenStack and decide on some more sane defaults if necessary.  We can also make sure the ability to override these to any interface desired is clear (if not clear already).  I think we can safely close this issue out.  @intlabs @larryrensing thoughts?

[2017-04-07 15:13] wilkers-steve commented on #81
I think we're at a good spot with targeting the points laid out in this issue.  We can address the remaining points @intlabs laid out once we move into OpenStack.  I'm happy with our progress on this front across the project.  @intlabs @larryrensing thoughts?

[2017-04-07 15:14] v1k0d3n commented on #295
@wilkers-steve can we leave *issues* open, and close PR's that aren't applicable? we'll have an exercise of collecting all the open issues, and creating bugs/blueprints when we get into openstack. if they're all closed, we'll miss them. and we definitely want to capture this work.

[2017-04-07 18:14] wilkers-steve opened #332 "bug: Nova bootstrap job missing updated label selector"
**Is this a bug report or feature request?** (choose one):

**Kubernetes Version** (output of `kubectl version`):

**Helm Client and Tiller Versions** (output of `helm version`):

**Development or Deployment Environment?**: Both

**Release Tag or Master**: Master

**Expected Behavior**:  Follow workflow and get nova running

**What Actually Happened**:  Nova doesn't run

**How to Reproduce the Iss

[2017-04-07 19:27] #332 closed

[2017-04-10 13:18] RichWellum commented on #295
I got a bit derailed by the k8's to 1.6 and then the AIO was broken the end of last week. I'll have a few cycles early this week. I'm also fine picking it up post-move to OS, or anything else.

[2018-11-15 01:41] sunyingji commented on #177
buddies,
I am looking for a helm chart for openstack swift. May I ask what is the status of this one?  When can this be shipped ? And is it still 'help wanted' ?

[2018-11-15 21:33] alanmeadows commented on #177
Hello,

OpenStack-Helm is now an official OpenStack project.  Please see
https://github.com/openstack/openstack-helm.

Swift is still a help wanted chart.

Thanks,

Alan Meadows

On Thu, Nov 15, 2018 at 2:41 AM sunyingji <notifications@github.com> wrote:

[2018-12-07 01:15] sunyingji commented on #177
We are working on deployment Openstack with K8S, including Swift. For most of other components, we will leverage the helm chart in Openstack-helm project. So we wonder when the Swift helm chart will be ready for use ?
And since it is under development with "help wanted" tag, we wonder if we can participant in the development.

Yingji